<extends src='../layout.html'>
  <block name='content'>
    <include src='../partials/header.html'></include>
    <!-- Content -->
    <div class="section section-content section-pad">
      <div class="container">
        <div class="content row">
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h1>Iluminación Led</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h4>Conoce nuestra nueva linea de productos de iluminación</h4>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-8 res-m-bttm-sm">
              <h2>Ahorra en consumo electrico hasta un 80%</h2>
              <p>La iluminación LED cuenta con muchas ventajas sobre la iluminación tradicional de tipo incandescente fluorescente y de aditivos metálicos. Contamos con campanas industriales LED, lámparas de tubo LED, focos de alto grado industrial urbanos,
                reflectores de alto poder y luminarias para alumbrado público. Tenemos la solución en iluminación que necesitas.</p>
            </div>
            <div class="col-md-4">
              <img src="../../img/ahorro-con-led.jpg" alt="">
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h4 class="text-center">¡Aprovecha nuestra promoción de 6 y 18 meses sin intereses!</h4>
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h4>Beneficios de la Iluminación LED:</h4>
              <ul class="list-style dots">
                <li>No generan calor.</li>
                <li>No contaminan.</li>
                <li>Vida útil superior a las 50,000 horas.</li>
                <li>No se tienen que comprar repuestos.</li>
                <li>No requieren mantenimiento.</li>
                <li>No utilizan balastro.</li>
                <li>Inversión altamente rentable.</li>
                <li>Adaptabilidad: Para cualquier luminario instalado, existe uno en LED para sustituirlo.</li>
              </ul>
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-4 res-m-bttm-sm">
              <h4>Foco Alto Grado Industrial Urbano</h4>
              <p>Nuestra línea de focos LED de alto poder es ideal para el alumbrado en:</p>
              <ul class="list-style dots">
                <li>Naves Industriales.</li>
                <li>Bodegas.</li>
                <li>Fábricas.</li>
                <li>Tiendas.</li>
                <li>Agencias de Autos.</li>
                <li>Clubes Deportivos.</li>
              </ul>
            </div>
            <div class="col-md-8">
              <img src="../../img/foco-alto-grado-industrial-urbano.jpg" alt="">
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h6 class="text-center">IDEAL PARA SUSTITUIR VIEJOS FOCOS DE FAROLAS DE ALUMBRADO PÚBLICO Y CAMPANAS DE ILUMINACIÓN</h6>
              <p class="text-center">¡Inversión recuperable en menos de 2 años!</p>
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h5>Aplicaciones</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/foco-alto-grado-aplicacion-1.jpg" alt="">
            </div>
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/foco-alto-grado-aplicacion-2.jpg" alt="">
            </div>
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/foco-alto-grado-aplicacion-3.jpg" alt="">
            </div>
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/foco-alto-grado-aplicacion-4.jpg" alt="">
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h5>Especificaciones Técnicas</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <div class="table-responsive">
                <table border="0" cellspacing="0" cellpadding="0" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Modelo</th>
                      <th>ECOHBL-15W</th>
                      <th>ECOHBL-40W</th>
                      <th>ECOHBL-60W</th>
                      <th>ECOHBL-90W FLAT PANEL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Consumo</td>
                      <td>15W</td>
                      <td>40W</td>
                      <td>60W</td>
                      <td>90W</td>
                    </tr>
                    <tr>
                      <td>Equivalencia</td>
                      <td>120W Aditivos Metálicos</td>
                      <td>200W Aditivos Metálicos</td>
                      <td>275-300W Aditivos Metálicos</td>
                      <td>400W Aditivos Metálicos</td>
                    </tr>
                    <tr>
                      <td>Voltaje</td>
                      <td>100-240W</td>
                      <td>100-240W</td>
                      <td>100-240W</td>
                      <td>100-240W</td>
                    </tr>
                    <tr>
                      <td>Base</td>
                      <td>E27,E40</td>
                      <td>E27,E40</td>
                      <td>E27,E40</td>
                      <td>E27,E40</td>
                    </tr>
                    <tr>
                      <td>Dimensiones</td>
                      <td>73mm x160mm</td>
                      <td>90mm x258mm</td>
                      <td>90mm x278mm</td>
                      <td>310mm x220mm</td>
                    </tr>
                    <tr>
                      <td>Vida Útil</td>
                      <td>+50,000 hrs efectivas</td>
                      <td>+50,000 hrs efectivas</td>
                      <td>+50,000 hrs efectivas</td>
                      <td>+50,000 hrs efectivas</td>
                    </tr>
                    <tr>
                      <td>Flujo Luminoso (Lúmenes)</td>
                      <td>2,000 Lm</td>
                      <td>4,500 Lm</td>
                      <td>6,000 Lm</td>
                      <td>11,000 Lm</td>
                    </tr>
                    <tr>
                      <td>Ángulo de Iluminación</td>
                      <td>360°</td>
                      <td>360°</td>
                      <td>360°</td>
                      <td>360°</td>
                    </tr>
                    <tr>
                      <td>Altura Recomendada</td>
                      <td>3 – 4 Mts.</td>
                      <td>5 Mts.</td>
                      <td>6 Mts.</td>
                      <td>6 – 8 Mts.</td>
                    </tr>
                    <tr>
                      <td>LED</td>
                      <td>SMD</td>
                      <td>SMD</td>
                      <td>SMD</td>
                      <td>ECOVA</td>
                    </tr>
                    <tr>
                      <td>Certificado de Calidad</td>
                      <td>CE, ROHS</td>
                      <td>CE, ROHS</td>
                      <td>CE, ROHS</td>
                      <td>CE, ROHS</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <hr>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-4 res-m-bttm-sm">
              <h4>Lámpara de Tubo Led</h4>
              <p>¡Inversión altamente rentable!</p>
              <p>Tubos de LED´S E-10 para sustituir tubo fluorescente</p>
              <p>Ideales para:</p>
              <ul class="list-style dots">
                <li>Oficinas.</li>
                <li>Negocios.</li>
                <li>Escuelas.</li>
                <li>Tiendas.</li>
              </ul>
              <p>Beneficios:</p>
              <ul class="list-style dots">
                <li>Ahorro entre 50-60% en gasto eléctrico.</li>
                <li>Mínimo mantenimiento.</li>
                <li>Iluminación constante, sin parpadeo.</li>
                <li>Encendido inmediato.</li>
                <li>No genera calor ni contaminación.</li>
                <li>Más de 50,000hrs efectivas de vida útil.</li>
                <li>No utiliza balastro.</li>
                <li>No se funde.</li>
              </ul>
            </div>
            <div class="col-md-8">
              <img src="../../img/foco-alto-grado-industrial-urbano.jpg" alt="">
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h6 class="text-center">Los tubos de LED pueden sustituir a cualquier tubo fluorescente con un consumo inferior,
por lo que permiten lograr un importante ahorro en la factura de la luz.</h6>
              <p class="text-center">Contamos con medidas tradicionales de 60cm, 120cm y 150cm para sustituir tubos fluorescentes de todas las potencias.</p>
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h5>Aplicaciones</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/lampara-de-tubo-4.jpg" alt="">
            </div>
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/lampara-de-tubo-2.jpg" alt="">
            </div>
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/lampara-de-tubo-3.jpg" alt="">
            </div>
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/lampara-de-tubo-1.jpg" alt="">
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h5>Especificaciones Técnicas</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <div class="table-responsive">
                <table border="0" cellspacing="0" cellpadding="0" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Modelo</th>
                      <th>LED-T8-60-11W</th>
                      <th>LED-T8-120-15W</th>
                      <th>LED-T8-150-28W</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Potencia</td>
                      <td>11W</td>
                      <td>15W</td>
                      <td>28W</td>
                    </tr>
                    <tr>
                      <td>Equivalencia</td>
                      <td>25-30W</td>
                      <td>32-42W</td>
                      <td>75W</td>
                    </tr>
                    <tr>
                      <td>Vida Útil</td>
                      <td>+50,000 hrs efectivas</td>
                      <td>+50,000 hrs efectivas</td>
                      <td>+50,000 hrs efectivas</td>
                    </tr>
                    <tr>
                      <td>Voltaje</td>
                      <td>100-240</td>
                      <td>100-240</td>
                      <td>100-240</td>
                    </tr>
                    <tr>
                      <td>Flujo Luminoso</td>
                      <td>800 Lm</td>
                      <td>1250 Lm</td>
                      <td>2400 Lm</td>
                    </tr>
                    <tr>
                      <td>Dimensiones</td>
                      <td>60cm x 3cm</td>
                      <td>120cm x 3cm</td>
                      <td>150cm x 3cm</td>
                    </tr>
                    <tr>
                      <td>Color</td>
                      <td>Pure White/Warm White</td>
                      <td>Pure White/Warm White</td>
                      <td>Pure White/Warm White</td>
                    </tr>
                    <tr>
                      <td>Ángulo</td>
                      <td>120°</td>
                      <td>120°</td>
                      <td>120°</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h5>Instalación</h5>
              <p>Se elimina el uso de balastros, los cual representa un ahorro adicional ya que los balastros de los tubos fluorescentes se queman constantemente debido a los cambios en el voltaje.</p>
            </div>
          </div>
          <hr>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-4 res-m-bttm-sm">
              <h4>Campana Industrial Led</h4>
              <p>Adquiere campanas industriales LED para sustituir las ineficientes campanas tradicionales de aditivos metálicos. Su bajo consumo y larga vida útil (Mayor a 50,000hrs efectivas) lo hacen la mejor opción para ahorro de electricidad.</p>
              <p>Ideales para:</p>
              <ul class="list-style dots">
                <li>Naves Industriales.</li>
                <li>Bodegas.</li>
                <li>Fábricas.</li>
                <li>Tiendas.</li>
                <li>Agencias de autos.</li>
                <li>Clubes Deportivos.</li>
              </ul>
            </div>
            <div class="col-md-8">
              <img src="../../img/campana-industrial-led-web.jpg" alt="">
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h6 class="text-center">¡AHORRA HASTA EL 70% EN EL CONSUMO ELÉCTRICO!</h6>
              <p class="text-center">¡Inversión recuperable en menos de 2 años!</p>
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h5>Aplicaciones</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/campana-led-bodega-1.jpg" alt="">
            </div>
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/campana-led-bodega-2.jpg" alt="">
            </div>
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/campana-led-bodega-3.jpg" alt="">
            </div>
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/campana-led-bodega-4.jpg" alt="">
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h5>Especificaciones Técnicas</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <div class="table-responsive">
                <table border="0" cellspacing="0" cellpadding="0" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Modelo</th>
                      <th>ECL-52W</th>
                      <th>ECL-78W</th>
                      <th>ECL-104W</th>
                      <th>ECL-130W</th>
                      <th>ECL-156W</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Potencia</td>
                      <td>52W</td>
                      <td>78W</td>
                      <td>104W</td>
                      <td>130W</td>
                      <td>156W</td>
                    </tr>
                    <tr>
                      <td>Ángulo de Operación</td>
                      <td>75°</td>
                      <td>75°</td>
                      <td>75°</td>
                      <td>75°</td>
                      <td>75°</td>
                    </tr>
                    <tr>
                      <td>Voltaje</td>
                      <td>AC 85-265V 12VDC</td>
                      <td>AC 85-265V 12VDC</td>
                      <td>AC 85-265V 12VDC</td>
                      <td>AC 85-265V 12VDC</td>
                      <td>AC 85-265V 12VDC</td>
                    </tr>
                    <tr>
                      <td>Dimenciones</td>
                      <td>ø440*495mm(18″)</td>
                      <td>ø440*495mm(18″)</td>
                      <td>ø499*501mm(21″)</td>
                      <td>ø499*501mm(21″)</td>
                      <td>ø499*501mm(21″)</td>
                    </tr>
                    <tr>
                      <td>Flujo Luminoso (Lúmenes)</td>
                      <td>6,000 Lm</td>
                      <td>11,000 Lm</td>
                      <td>13,000 Lm</td>
                      <td>15,600 Lm</td>
                      <td>19,000 Lm</td>
                    </tr>
                    <tr>
                      <td>Eficiencia Luminica</td>
                      <td>120 Lm/W</td>
                      <td>120 Lm/W</td>
                      <td>120 Lm/W</td>
                      <td>120 Lm/W</td>
                      <td>120 Lm/W</td>
                    </tr>
                    <tr>
                      <td>Material</td>
                      <td>Aluminio IP65</td>
                      <td>Aluminio IP65</td>
                      <td>Aluminio IP65</td>
                      <td>Aluminio IP65</td>
                      <td>Aluminio IP65</td>
                    </tr>
                    <tr>
                      <td>Temp. de Operación</td>
                      <td>-20° -60°C</td>
                      <td>-20° -60°C</td>
                      <td>-20° -60°C</td>
                      <td>-20° -60°C</td>
                      <td>-20° -60°C</td>
                    </tr>
                    <tr>
                      <td>Vida Útil</td>
                      <td>+50,000 hrs efectivas</td>
                      <td>+50,000 hrs efectivas</td>
                      <td>+50,000 hrs efectivas</td>
                      <td>+50,000 hrs efectivas</td>
                      <td>+50,000 hrs efectivas</td>
                    </tr>
                    <tr>
                      <td>Temp. Color</td>
                      <td>6500° K (White)</td>
                      <td>6500° K (White)</td>
                      <td>6500° K (White)</td>
                      <td>6500° K (White)</td>
                      <td>6500° K (White)</td>
                    </tr>
                    <tr>
                      <td>Altura Ideal</td>
                      <td>3 – 4 Mts.</td>
                      <td>5 – 6 Mts.</td>
                      <td>7 – 8 Mts.</td>
                      <td>8 – 10 Mts.</td>
                      <td>10 – 14 Mts.</td>
                    </tr>
                    <tr>
                      <td>Sustituye</td>
                      <td>200W Aditivos Metálicos</td>
                      <td>250-275W Aditivos Metálicos</td>
                      <td>300-350W Aditivos Metálicos</td>
                      <td>350-400W Aditivos Metálicos</td>
                      <td>400-500W Aditivos Metálicos</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="gaps"></div>
          <hr>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-4 res-m-bttm-sm">
              <h4>Reflectores de Alto Poder</h4>
              <p>Los nuevos reflectores LED ahorran hasta un 90% en el consumo eléctrico en comparación a los tradicionales de aditivos metálicos.</p>
              <p>También se obtiene un gran ahorro en repuestos ya que la vida útil de los LEDS supera las 50,000 horas.</p>
              <p>Ideales para:</p>
              <ul class="list-style dots">
                <li>Calles y caminos vecinales.</li>
                <li>Terrenos.</li>
                <li>Estacionamientos.</li>
                <li>Bodegas y Almacenes.</li>
                <li>Fábricas.</li>
                <li>Anuncios y Espectaculares.</li>
                <li>Canchas deportivas.</li>
              </ul>
            </div>
            <div class="col-md-8">
              <img src="../../img/reflector-led.jpg" alt="">
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h6 class="text-center">SUSTITUYE ESOS INEFICIENTES REFLECTORES DE ADITIVOS METÁLICOS QUE SÓLO TE HACEN PERDER DINERO.</h6>
              <p class="text-center">¡Inversión que se recupera en menos de 2 años!</p>
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h5>Aplicaciones</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/aplicacion-reflector-led-3.jpg" alt="">
            </div>
            <div class="col-md-4 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/aplicacion-reflector-led-2.jpg" alt="">
            </div>
            <div class="col-md-4 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/aplicacion-reflector-led-1.jpg" alt="">
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h5>Especificaciones Técnicas</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <div class="table-responsive">
                <table border="0" cellspacing="0" cellpadding="0" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Modelo</th>
                      <th>LF-10W</th>
                      <th>LF-30W</th>
                      <th>LF-50W</th>
                      <th>LF-78W</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Potencia</td>
                      <td>10W</td>
                      <td>30W</td>
                      <td>50W</td>
                      <td>78W</td>
                    </tr>
                    <tr>
                      <td>Sustituye Aditivos Metalicos</td>
                      <td>120W</td>
                      <td>150-200W</td>
                      <td>250-300W</td>
                      <td>300-400W</td>
                    </tr>
                    <tr>
                      <td>Ángulo</td>
                      <td>80°</td>
                      <td>80°</td>
                      <td>80°</td>
                      <td>80°</td>
                    </tr>
                    <tr>
                      <td>Voltaje</td>
                      <td>AC 85-265V</td>
                      <td>AC 85-265V</td>
                      <td>AC 85-265V</td>
                      <td>AC 85-265V</td>
                    </tr>
                    <tr>
                      <td>Dimenciones</td>
                      <td>290x236x183mm</td>
                      <td>290x236x183mm</td>
                      <td>360x285x110mm</td>
                      <td>360x285x110mm</td>
                    </tr>
                    <tr>
                      <td>Temp. Color</td>
                      <td>Pure White/Warm White</td>
                      <td>Pure White/Warm White</td>
                      <td>Pure White/Warm White</td>
                      <td>Pure White/Warm White</td>
                    </tr>
                    <tr>
                      <td>Flujo Luminoso (Lúmenes)</td>
                      <td>2,000 Lm</td>
                      <td>3,000-4,000 Lm</td>
                      <td>4,000-4,500 Lm</td>
                      <td>7,000 Lm</td>
                    </tr>
                    <tr>
                      <td>Altura Ideal</td>
                      <td>3 – 4 Mts.</td>
                      <td>5 – 6 Mts.</td>
                      <td>6 – 8 Mts.</td>
                      <td>8 – 10 Mts.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="gaps"></div>
          <hr>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-4 res-m-bttm-sm">
              <h4>Luminaria para Alumbrado Publico</h4>
              <p>En comparación a los tradicionales de aditivos metálicos, también se obtiene un gran ahorro en repuestos de foco y balastros ya que la vida útil del LED supera las 50,000 hrs. y no utiliza balastro.</p>
              <ul class="list-style dots">
                <li>Ahorro de entre el 70-80% en el consumo.</li>
                <li>Mínimo mantenimiento.</li>
                <li>Resistente a cualquier tipo de clima.</li>
                <li>Iluminación constante, sin parpadeo.</li>
                <li>Encendido inmediato.</li>
                <li>No genera calor ni contaminación como las otras tecnologías.</li>
              </ul>
            </div>
            <div class="col-md-8">
              <img src="../../img/led-alumbrado-publico.jpg" alt="">
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h6 class="text-center">¡AHORRA ENORMES CANTIDADES DE DINERO!</h6>
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h5>Especificaciones Técnicas</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <div class="table-responsive">
                <table border="0" cellspacing="0" cellpadding="0" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Modelo</th>
                      <th>LED-SL-78W</th>
                      <th>LED-SL-104W</th>
                      <th>LED-SL-130W</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Fuente de LED</td>
                      <td>LED de alto poder</td>
                      <td>LED de alto poder</td>
                      <td>LED de alto poder</td>
                    </tr>
                    <tr>
                      <td>Distribución de Lúz</td>
                      <td>Simetrica/Punto redondo</td>
                      <td>Simetrica/Punto redondo</td>
                      <td>Simetrica/Punto redondo</td>
                    </tr>
                    <tr>
                      <td>Voltaje</td>
                      <td>AC-85-265V 50-60hz</td>
                      <td>AC-85-265V 50-60hz</td>
                      <td>AC-85-265V 50-60hz</td>
                    </tr>
                    <tr>
                      <td>Eficiencia Luminica</td>
                      <td>100Lm/W</td>
                      <td>100Lm/W</td>
                      <td>100Lm/W</td>
                    </tr>
                    <tr>
                      <td>Ángulo</td>
                      <td>120°</td>
                      <td>120°</td>
                      <td>120°</td>
                    </tr>
                    <tr>
                      <td>Flujo Luminoso (Lúmenes)</td>
                      <td>8,000 Lm</td>
                      <td>10,000 – 11,000 Lm</td>
                      <td>13,000 – 14,000 Lm</td>
                    </tr>
                    <tr>
                      <td>Temp. Color</td>
                      <td>Pure White/Warm White</td>
                      <td>Pure White/Warm White</td>
                      <td>Pure White/Warm White</td>
                    </tr>
                    <tr>
                      <td>Remplaza Aditivos Metálicos</td>
                      <td>200W</td>
                      <td>250-275W</td>
                      <td>400W</td>
                    </tr>
                    <tr>
                      <td>Vida Útil</td>
                      <td>+50,000 hrs efectivas</td>
                      <td>+50,000 hrs efectivas</td>
                      <td>+50,000 hrs efectivas</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h5>Cotización</h5>
              <p>Para poder realizar una cotización especifica a sus necesidades favor de apoyarnos con la siguiente información:</p>
              <ul class="list-style dots">
                <li>Numero de Luminarias.</li>
                <li>Tipos de Luminarias.</li>
              </ul>
              <p>En caso de requerir personal y asesoría especializada, nuestro equipo de técnicos profesionales realizara el levantamiento a sus instalaciones de manera gratuita.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Content -->
    <include src='../partials/footer.html'></include>
    <include src='../partials/copyright.html'></include>
  </block>
</extends>
