<!-- Client logo -->
<div class="section section-logos section-pad-md bdr-top bg-light">
  <div class="container">
    <div class="content row">

      <div class="owl-carousel loop logo-carousel">
        <div class="logo-item"><img alt="" width="190" height="82" src="img/schlumberger.jpg"></div>
        <div class="logo-item"><img alt="" width="190" height="82" src="img/halliburton.jpg"></div>
        <div class="logo-item"><img alt="" width="190" height="82" src="img/baker-hughes.jpg"></div>
        <div class="logo-item"><img alt="" width="190" height="82" src="img/noble.jpg"></div>
        <div class="logo-item"><img alt="" width="190" height="82" src="img/mi-swaco.jpg"></div>
        <div class="logo-item"><img alt="" width="190" height="82" src="img/praxair.jpg"></div>
        <div class="logo-item"><img alt="" width="190" height="82" src="img/emerson.jpg"></div>
        <div class="logo-item"><img alt="" width="190" height="82" src="img/oro-negro.jpg"></div>
        <div class="logo-item"><img alt="" width="190" height="82" src="img/toyota.jpg"></div>
        <div class="logo-item"><img alt="" width="190" height="82" src="img/coparmex.jpg"></div>
      </div>

    </div>
  </div>
</div>
<!-- End Section -->
