<!-- Footer Widget-->
<div class="footer-widget section-pad">
  <div class="container">
    <div class="row">
      <div class="widget-row row">
        <div class="footer-col col-md-2 col-sm-6 res-m-bttm">
          <!-- Each Widget -->
          <div class="wgs wgs-footer wgs-menu">
            <h5 class="wgs-title">About Us</h5>
            <div class="wgs-content">
              <ul class="menu">
                <li><a href="../../en/about-us/history.html">Our History</a></li>
                <li><a href="../../en/about-us/partners.html">Partners</a></li>
                <li><a href="../../en/about-us/clients.html">Clientes</a></li>
              </ul>
            </div>
          </div>
          <!-- End Widget -->
        </div>
        <div class="footer-col col-md-2 col-sm-6 res-m-bttm">
          <!-- Each Widget -->
          <div class="wgs wgs-footer wgs-menu">
            <h5 class="wgs-title">Services</h5>
            <div class="wgs-content">
              <ul class="menu">
                <li><a href="../../en/services/offshore-services.html">Offshore</a></li>
                <li><a href="../../en/services/courses.html">Courses</a></li>
                <li><a href="../../en/services/stps-studies.html">STPS Studies</a></li>
                <li><a href="../../en/services/environmental-protection.html">Environmental Protection</a></li>
                <li><a href="../../en/services/industrial-security.html">Industrial Security</a></li>
                <li><a href="../../en/services/other-services.html">Other Services</a></li>
              </ul>
            </div>
          </div>
          <!-- End Widget -->
        </div>
        <div class="footer-col col-md-2 col-sm-6 res-m-bttm">
          <!-- Each Widget -->
          <div class="wgs wgs-footer wgs-menu">
            <h5 class="wgs-title">Products</h5>
            <div class="wgs-content">
              <ul class="menu">
                <li><a href="../../en/products/led-lighting.html">Led Lighting</a></li>
                <li><a href="../../en/products/integrated-management-system.html">Integrated Management System</a></li>
              </ul>
            </div>
          </div>
          <!-- End Widget -->
        </div>
        <div class="footer-col col-md-3 col-sm-6">
          <!-- Each Widget -->
          <div class="wgs wgs-footer">
            <h5 class="wgs-title">Villahermosa</h5>
            <div class="wgs-content">
              <p>Calle Jardines del Sur #115 <br>Col. Atasta C.P. 86100.</p>
              <p>(993) 266 8251</p>
              <p><a href="mailto:info@ecologica.mx">info@ecologica.mx</a></p>
            </div>
          </div>
          <!-- End Widget -->
        </div>
        <div class="footer-col col-md-3 col-sm-6">
          <!-- Each Widget -->
          <div class="wgs wgs-footer">
            <h5 class="wgs-title">Cd. del Carmen</h5>
            <div class="wgs-content">
              <p>Calle 31 Interior 3 <br>Col. Tacubaya C.P. 24180.</p>
              <p>(938) 153 2270</p>
              <p><a href="mailto:info@ecologica.mx">info@ecologica.mx</a></p>
            </div>
          </div>
          <!-- End Widget -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Footer Widget -->
