<!-- Footer Widget-->
<div class="footer-widget section-pad">
  <div class="container">
    <div class="row">
      <div class="widget-row row">
        <div class="footer-col col-md-2 col-sm-6 res-m-bttm">
          <!-- Each Widget -->
          <div class="wgs wgs-footer wgs-menu">
            <h5 class="wgs-title">Nosotros</h5>
            <div class="wgs-content">
              <ul class="menu">
                <li><a href="../../sobre-nosotros/nuestra-historia.html">Nuestra Historia</a></li>
                <li><a href="../../sobre-nosotros/sociedades-estrategicas.html">Sociedades Estrategicas</a></li>
                <li><a href="../../sobre-nosotros/clientes.html">Clientes</a></li>
              </ul>
            </div>
          </div>
          <!-- End Widget -->
        </div>
        <div class="footer-col col-md-2 col-sm-6 res-m-bttm">
          <!-- Each Widget -->
          <div class="wgs wgs-footer wgs-menu">
            <h5 class="wgs-title">Servicios</h5>
            <div class="wgs-content">
              <ul class="menu">
                <li><a href="../../servicios/costa-afuera.html">Costa Afuera</a></li>
                <li><a href="../../servicios/cursos.html">Cursos</a></li>
                <li><a href="../../servicios/estudios-stps.html">Estudios STPS</a></li>
                <li><a href="../../servicios/proteccion-ambiental.html">Protección Ambiental</a></li>
                <li><a href="../../servicios/seguridad-industrial.html">Seguridad Industrial</a></li>
                <li><a href="../../servicios/otros-servicios.html">Otros Servicios</a></li>
              </ul>
            </div>
          </div>
          <!-- End Widget -->
        </div>
        <div class="footer-col col-md-2 col-sm-6 res-m-bttm">
          <!-- Each Widget -->
          <div class="wgs wgs-footer wgs-menu">
            <h5 class="wgs-title">Productos</h5>
            <div class="wgs-content">
              <ul class="menu">
                <li><a href="../../productos/iluminacion-led.html">Ilumninación Led</a></li>
                <li><a href="http://www.ecosafety.mx">Productos EPP</a></li>
                <li><a href="../../productos/software-hse.html">Software HSE</a></li>
              </ul>
            </div>
          </div>
          <!-- End Widget -->
        </div>
        <div class="footer-col col-md-3 col-sm-6 res-m-bttm">
          <!-- Each Widget -->
          <div class="wgs wgs-footer">
            <h5 class="wgs-title">Villahermosa</h5>
            <div class="wgs-content">
              <p>Calle Jardines del Sur #115 <br>Col. Atasta C.P. 86100.</p>
              <p>(993) 266 8251</p>
              <p><a href="mailto:info@ecologica.mx">info@ecologica.mx</a></p>
            </div>
          </div>
          <!-- End Widget -->
        </div>
        <div class="footer-col col-md-3 col-sm-6">
          <!-- Each Widget -->
          <div class="wgs wgs-footer">
            <h5 class="wgs-title">Cd. del Carmen</h5>
            <div class="wgs-content">
              <p>Calle 31 Interior 3 <br>Col. Tacubaya C.P. 24180.</p>
              <p>(938) 153 2270</p>
              <p><a href="mailto:info@ecologica.mx">info@ecologica.mx</a></p>
            </div>
          </div>
          <!-- End Widget -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Footer Widget -->
