<!-- Header -->
<header class="site-header header-s1 is-sticky">
  <!-- Topbar -->
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="top-aside top-left">
          <ul class="top-nav">
            <li><a href="#" class="change-lang en">EN</a></li>
            <li><a href="#">|</a></li>
            <li><a href="#" class="change-lang es">ES</a></li>
          </ul>
        </div>
        <div class="top-aside top-right clearfix">
          <ul class="top-contact clearfix">
            <li class="t-email t-email1">
              <em class="fa fa-envelope-o" aria-hidden="true"></em>
              <span><a href="mailto:info@ecologica.mx">info@ecologica.mx</a></span>
            </li>
      <!--      <li class="t-phone t-phone1">
              <em class="fa fa-phone" aria-hidden="true"></em>
              <span>01 800 123-456-789</span>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- #end Topbar -->
  <!-- Navbar -->
  <div class="navbar navbar-primary">
    <div class="container">
      <!-- Logo -->
      <a class="navbar-brand" href="../../">
        <img class="logo logo-dark" alt="" src="/img/logo-ecologica.png" srcset="/img/logo2x.png 2x">
        <img class="logo logo-light" alt="" src="/img/logo-light.png" srcset="/img/logo-light2x.png 2x">
      </a>
      <!-- #end Logo -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav" aria-expanded="false">
          <span class="sr-only">Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Q-Button for Mobile -->
    <!--    <div class="quote-btn"><a class="btn" href="contact.html">Enquire Today</a></div> -->
      </div>
      <!-- MainNav -->
      <nav class="navbar-collapse collapse" id="mainnav">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle">About Us <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="../../en/about-us/history.html">Our History</a></li>
              <li><a href="../../en/about-us/partners.html">Partners</a></li>
              <li><a href="../../en/about-us/clients.html">Clients</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle">Services <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="../../en/services/offshore-services.html">Offshore Services</a></li>
              <li><a href="../../en/services/courses.html">Courses</a></li>
              <li><a href="../../en/services/stps-studies.html">STPS Studies</a></li>
              <li><a href="../../en/services/environmental-protection.html">Environmental Protection</a></li>
              <li><a href="../../en/services/industrial-security.html">Industrial Security</a></li>
              <li><a href="../../en/services/other-services.html">Other Services</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle">Products <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="../../en/products/integrated-management-system.html">HSE Software</a></li>
              <li><a href="../../en/products/led-lighting.html">Led Lighting</a></li>
            </ul>
          </li>
          <li><a href="../../en/contact.html">Contact</a></li>
      <!--    <li class="quote-btn"><a class="btn" href="contact.html">Request Quote</a></li> -->
        </ul>
      </nav>
      <!-- #end MainNav -->
    </div>
  </div>
  <!-- #end Navbar -->
</header>
<!-- End Header -->
