<!-- Banner/Slider -->
<div class="banner banner-static banner-intro">
  <div class="container">
    <div class="content row">

      <div class="banner-text wide-md al-center pos-center">
        <h2 class="ucap">ESPECIALISTAS EN SEGURIDAD INDUSTRIAL, PROYECTOS AMBIENTALES Y SALUD OCUPACIONAL</h2>
        <p>Damos soluciones globales de ingeniería, administración, asesoría, capacitación, gestión y evaluación</p>
      </div>
      <div class="imagebg">
        <img src="img/hero-home-bg.jpg" alt="">
      </div>

    </div>
  </div>
</div>

<!-- #end Banner/Slider -->
