<!-- Service Section -->
<div class="section section-services section-pad">
    <div class="container">
        <div class="content row">
          <!-- Feature Row  -->
      <div class="feature-row feature-service-row row">
        <div class="col-md-4 col-sm-6 even first">
          <!-- feature box -->
          <div class="feature boxed">
            <a href="servicios/costa-afuera.html">
              <div class="fbox-photo">
                <img src="img/costa-afuera.jpg" alt="">
              </div>
            </a>
            <div class="fbox-content">
              <h3><a href="servicios/costa-afuera.html">Costa Afuera</a></h3>
            </div>
          </div>
          <!-- End Feature box -->
        </div>
        <div class="col-md-4 col-sm-6 odd">
          <!-- feature box -->
          <div class="feature boxed">
            <a href="servicios/cursos.html">
              <div class="fbox-photo">
                <img src="img/cursos.jpg" alt="">
              </div>
            </a>
            <div class="fbox-content">
              <h3><a href="servicios/cursos.html">Cursos</a></h3>
            </div>
          </div>
          <!-- End Feature box -->
        </div>
        <div class="col-md-4 col-sm-6 even">
          <!-- feature box -->
          <div class="feature boxed">
            <a href="servicios/estudios-stps.html">
              <div class="fbox-photo">
                <img src="img/estudio-stps2.jpg" alt="">
              </div>
            </a>
            <div class="fbox-content">
              <h3><a href="servicios/estudios-stps.html">Estudios STPS</a></h3>
            </div>
          </div>
          <!-- End Featur box -->
        </div>
        <div class="col-md-4 col-sm-6 odd">
          <!-- featured box -->
          <div class="feature boxed">
            <a href="servicios/proteccion-ambiental.html">
              <div class="fbox-photo">
                <img src="img/proteccion-ambiental.jpg" alt="">
              </div>
            </a>
            <div class="fbox-content">
              <h3><a href="servicios/proteccion-ambiental.html">Protección Ambiental</a></h3>
            </div>
          </div>
          <!-- End Feature box -->
        </div>
        <div class="col-md-4 col-sm-6 odd">
          <!-- featured box -->
          <div class="feature boxed">
            <a href="servicios/seguridad-industrial.html">
              <div class="fbox-photo">
                <img src="img/seguridad-industrial.jpg" alt="">
              </div>
            </a>
            <div class="fbox-content">
              <h3><a href="servicios/seguridad-industrial.html">Seguridad Industrial</a></h3>
            </div>
          </div>
          <!-- End Feature box -->
        </div>
        <div class="col-md-4 col-sm-6 odd">
          <!-- featured box -->
          <div class="feature boxed">
            <a href="servicios/otros-servicios.html">
              <div class="fbox-photo">
                <img src="img/otros-servicios.jpg" alt="">
              </div>
            </a>
            <div class="fbox-content">
              <h3><a href="servicios/otros-servicios.html">Otros Servicios</a></h3>
            </div>
          </div>
          <!-- End Feature box -->
        </div>
      </div>
      <!-- Feture Row  #end -->
        </div>
    </div>
</div>
<!-- End Section -->
