<!-- Service Section -->
<div class="section section-services section-pad">
    <div class="container">
        <div class="content row">
          <!-- Feature Row  -->
      <div class="feature-row feature-service-row row">
        <div class="col-md-4 col-sm-6 even first">
          <!-- feature box -->
          <div class="feature boxed">
            <a href="servicios/costa-afuera.html">
              <div class="fbox-photo">
                <img src="img/photo-sm-main-a.jpg" alt="">
              </div>
            </a>
            <div class="fbox-content">
              <h3><a href="servicios/costa-afuera.html">Costa Afuera</a></h3>
              <p>Agricultural engineers may perform tasks such as planning consec adipis elit sed do eiusmod tempor incididut et dolore labore.</p>
              <p><a href="servicios/costa-afuera.html" class="btn-link">Saber Mas</a></p>
            </div>
          </div>
          <!-- End Feature box -->
        </div>
        <div class="col-md-4 col-sm-6 odd">
          <!-- feature box -->
          <div class="feature boxed">
            <a href="servicios/cursos.html">
              <div class="fbox-photo">
                <img src="img/photo-sm-main-b.jpg" alt="">
              </div>
            </a>
            <div class="fbox-content">
              <h3><a href="servicios/cursos.html">Cursos</a></h3>
              <p>Areas tackled in the most fundamental parts of medical research consec adipis elit sed do eiusmod tempor incididut labore dolore.</p>
              <p><a href="servicios/cursos.html" class="btn-link">Saber Mas</a></p>
            </div>
          </div>
          <!-- End Feature box -->
        </div>
        <div class="col-md-4 col-sm-6 even">
          <!-- feature box -->
          <div class="feature boxed">
            <a href="servicios/estudios-stps.html">
              <div class="fbox-photo">
                <img src="img/photo-sm-main-c.jpg" alt="">
              </div>
            </a>
            <div class="fbox-content">
              <h3><a href="servicios/estudios-stps.html">Estudios STPS</a></h3>
              <p>Metal profile sheet systems provide an efficient and reliable consec adipis elit sed do eiusmod tempor incididut labore et dolore.</p>
              <p><a href="servicios/estudios-stps.html" class="btn-link">Saber Mas</a></p>
            </div>
          </div>
          <!-- End Featur box -->
        </div>
        <div class="col-md-4 col-sm-6 odd">
          <!-- featured box -->
          <div class="feature boxed">
            <a href="servicios/proteccion-ambiental">
              <div class="fbox-photo">
                <img src="img/photo-sm-main-d.jpg" alt="">
              </div>
            </a>
            <div class="fbox-content">
              <h3><a href="servicios/proteccion-ambiental">Protección Ambiental</a></h3>
              <p>Engineering is a professional discipline that deals with the consec adipis elit sed do eiusmod tempor incididut labore et dolore.</p>
              <p><a href="servicios/proteccion-ambiental" class="btn-link">Saber Mas</a></p>
            </div>
          </div>
          <!-- End Feature box -->
        </div>
        <div class="col-md-4 col-sm-6 odd">
          <!-- featured box -->
          <div class="feature boxed">
            <a href="servicios/seguridad-industrial.html">
              <div class="fbox-photo">
                <img src="img/photo-sm-main-e.jpg" alt="">
              </div>
            </a>
            <div class="fbox-content">
              <h3><a href="servicios/seguridad-industrial.html">Seguridad Industrial</a></h3>
              <p>Oil and gas exploration is the search by petroleum geologists and adipis elit sed do eiusmod tempor incididut labore et dolore.</p>
              <p><a href="servicios/seguridad-industrial.html" class="btn-link">Saber Mas</a></p>
            </div>
          </div>
          <!-- End Feature box -->
        </div>
        <div class="col-md-4 col-sm-6 odd">
          <!-- featured box -->
          <div class="feature boxed">
            <a href="servicios/otros-servicios.html">
              <div class="fbox-photo">
                <img src="img/photo-sm-main-f.jpg" alt="">
              </div>
            </a>
            <div class="fbox-content">
              <h3><a href="servicios/otros-servicios.html">Otros Servicios</a></h3>
              <p>Energy source that is an alternative to fossil dolor sit amet consec adipis elit sed do eiusmod tempor incididut labore et dolore.</p>
              <p><a href="servicios/otros-servicios.html" class="btn-link">Saber Mas</a></p>
            </div>
          </div>
          <!-- End Feature box -->
        </div>
      </div>
      <!-- Feture Row  #end -->
        </div>
    </div>
</div>
<!-- End Section -->
