<!-- Service Section -->
<div class="section section-services section-pad">
    <div class="container">
        <div class="content row">
          <!-- Feature Row  -->
      <div class="feature-row feature-service-row row">
        <div class="col-md-4 col-sm-6 even first">
          <!-- feature box -->
          <div class="feature boxed">
            <a href="../en/services/offshore-services.html">
              <div class="fbox-photo">
                <img src="../img/costa-afuera.jpg" alt="">
              </div>
            </a>
            <div class="fbox-content">
              <h3><a href="/en/services/offshore-services.html">Offshore</a></h3>
            </div>
          </div>
          <!-- End Feature box -->
        </div>
        <div class="col-md-4 col-sm-6 odd">
          <!-- feature box -->
          <div class="feature boxed">
            <a href="../en/services/courses.html">
              <div class="fbox-photo">
                <img src="../img/cursos.jpg" alt="">
              </div>
            </a>
            <div class="fbox-content">
              <h3><a href="../en/services/courses.html">Courses</a></h3>
            </div>
          </div>
          <!-- End Feature box -->
        </div>
        <div class="col-md-4 col-sm-6 even">
          <!-- feature box -->
          <div class="feature boxed">
            <a href="../en/services/stps-studies.html">
              <div class="fbox-photo">
                <img src="../img/estudio-stps2.jpg" alt="">
              </div>
            </a>
            <div class="fbox-content">
              <h3><a href="../en/services/stps-studies.html">STPS Estudies</a></h3>
            </div>
          </div>
          <!-- End Featur box -->
        </div>
        <div class="col-md-4 col-sm-6 odd">
          <!-- featured box -->
          <div class="feature boxed">
            <a href="../en/services/environmental-protection.html">
              <div class="fbox-photo">
                <img src="../img/proteccion-ambiental.jpg" alt="">
              </div>
            </a>
            <div class="fbox-content">
              <h3><a href="../en/services/environmental-protection.html">Environmental Protection</a></h3>
            </div>
          </div>
          <!-- End Feature box -->
        </div>
        <div class="col-md-4 col-sm-6 odd">
          <!-- featured box -->
          <div class="feature boxed">
            <a href="../en/services/industrial-security.html">
              <div class="fbox-photo">
                <img src="../img/seguridad-industrial.jpg" alt="">
              </div>
            </a>
            <div class="fbox-content">
              <h3><a href="../en/services/industrial-security.html">Industrial Security</a></h3>
            </div>
          </div>
          <!-- End Feature box -->
        </div>
        <div class="col-md-4 col-sm-6 odd">
          <!-- featured box -->
          <div class="feature boxed">
            <a href="../en/services/other-services.html">
              <div class="fbox-photo">
                <img src="../img/otros-servicios.jpg" alt="">
              </div>
            </a>
            <div class="fbox-content">
              <h3><a href="../en/services/other-services.html">Other Services</a></h3>
            </div>
          </div>
          <!-- End Feature box -->
        </div>
      </div>
      <!-- Feture Row  #end -->
        </div>
    </div>
</div>
<!-- End Section -->
