<extends src='../layout.html'>
  <block name='content'>
    <include src='../partials/header.html'></include>
    <!-- Contents -->
    <div class="section section-contents section-pad">
      <div class="container">
        <div class="content row">

          <div class="row">
            <div class="col-md-12">

              <h1>Our Clients</h1>
              <p>Egestas tortor placerat vehicula. Nulla tincidunt risus nisl sed iaculis elit dapibus. Suspen disse quis lorem nibh a magna sollicitudin, semper justo a sagittis est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</p>

              <div class="row">
                <div class="col-sm-6 col-xs-6">
                  <div class="logo-item"><img alt="" src="../../img/cl-logo1.png"></div>
                </div>
                <div class="col-sm-6 col-xs-6">
                  <div class="logo-item"><img alt="" src="../../img/cl-logo2.png"></div>
                </div>

                <div class="gaps size-md"></div>
                <div class="col-sm-6 col-xs-6">
                  <div class="logo-item"><img alt="" src="../../img/cl-logo3.png"></div>
                </div>
                <div class="col-sm-6 col-xs-6">
                  <div class="logo-item"><img alt="" src="../../img/cl-logo4.png"></div>
                </div>

                <div class="gaps size-md"></div>
                <div class="col-sm-6 col-xs-6">
                  <div class="logo-item"><img alt="" src="../../img/cl-logo5.png"></div>
                </div>
                <div class="col-sm-6 col-xs-6">
                  <div class="logo-item"><img alt="" src="../../img/cl-logo6.png"></div>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>
    <!-- End Section -->
    <include src='../partials/footer.html'></include>
    <include src='../partials/copyright.html'></include>
  </block>
</extends>
