<extends src='../layout.html'>
  <block name='content'>
    <include src='../partials/header.html'></include>
    <!-- Contents -->
    <div class="section section-contents section-pad">
      <div class="container">
        <div class="content row">

          <div class="row">
            <div class="col-md-8 col-lg-12">

              <h1>Clientes</h1>
              <p>Conoce algunos de nuestros clientes:</p>

              <div class="row">
                <div class="col-sm-6 col-xs-6 col-lg-4 col-lg-offset-2">
                  <div class="logo-item"><img alt="" src="../../img/schlumberger.jpg"></div>
                </div>
                <div class="col-sm-6 col-xs-6 col-lg-4">
                  <div class="logo-item"><img alt="" src="../../img/cotemar.png"></div>
                </div>

                <div class="gaps size-md"></div>
                <div class="col-sm-6 col-xs-6 col-lg-4 col-lg-offset-2">
                  <div class="logo-item"><img alt="" src="../../img/cosl.png"></div>
                </div>
                <div class="col-sm-6 col-xs-6 col-lg-4">
                  <div class="logo-item"><img alt="" src="../../img/grupo-mexico.png"></div>
                </div>

                <div class="gaps size-md"></div>
                <div class="col-sm-6 col-xs-6 col-lg-4 col-lg-offset-2">
                  <div class="logo-item"><img alt="" src="../../img/naviera-bourbon.png"></div>
                </div>
                <div class="col-sm-6 col-xs-6 col-lg-4">
                  <div class="logo-item"><img alt="" src="../../img/praxair.jpg"></div>
                </div>
                <div class="gaps size-md"></div>
                <div class="col-sm-6 col-xs-6 col-lg-4 col-lg-offset-2">
                  <div class="logo-item"><img alt="" src="../../img/emerson.jpg"></div>
                </div>
                <div class="col-sm-6 col-xs-6 col-lg-4">
                  <div class="logo-item"><img alt="" src="../../img/oro-negro.jpg"></div>
                </div>
                <div class="gaps size-md"></div>
                <div class="col-sm-6 col-xs-6 col-lg-4 col-lg-offset-2">
                  <div class="logo-item"><img alt="" src="../../img/toyota.jpg"></div>
                </div>
                <div class="col-sm-6 col-xs-6 col-lg-4">
                  <div class="logo-item"><img alt="" src="../../img/coparmex.jpg"></div>
                </div>
                <div class="gaps size-md"></div>
                <div class="col-sm-6 col-xs-12">
                  <ul class="list-style dots">
                    <li>MARINSA</li>
                    <li>FINIESTRA</li>
                    <li>ABENGOA MEXICO S.A DE C.V.</li>
                    <li>ACC INGENIERÍA Y SERVICIOS ESPECIALIZADOS S.A DE C.V.</li>
                    <li>AUTO LÍNEAS INTEGRALES MEXICANAS S.A DE C.V.</li>
                    <li>CARGA MULTIMODAL S.A DE C.V.</li>
                    <li>CONSTRUCTORA CG, S.A. DE C.V.</li>
                    <li>COMISIÓN ESTATAL DE AGUA Y SANEAMIENTO (CEAS).</li>
                    <li>COMERCIALIZADORA Y LOGÍSTICA EMPRESARIAL S.A DE CV.</li>
                    <li>CHINA OILFIELD SERVICES LIMITED (COSL).</li>
                    <li>DESARROLLO INMOBILIARIO HABITACIONAL S.A. DE C.V. (DIHASA).</li>
                    <li>ENERGY &amp; CONTROLS DE MÉXICO S.A DE C.V.</li>
                    <li>INGENIERIA APLICADA EN SERVICIOS AMBIENTALES S.A DE S.V (INASA).</li>
                  </ul>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <ul class="list-style dots">
                    <li>PERFORADORA LATINA</li>
                    <li>MEXMAR</li>
                    <li>JC CONSULTORÍA S.A DE C.V.</li>
                    <li>OCEANOGRAFÍA S.A DE C.V.</li>
                    <li>MI DRILLING FLUIDS DE MEXICO S.A DE C.V.</li>
                    <li>REPRESENTACIONES Y DISTRIBUCIONES EVYA S.A DE C.V.</li>
                    <li>SECAE S.A DE C.V.</li>
                    <li>SERVICIO PETROTEC S.A DE C.V.</li>
                    <li>SISTEMA DE AGUA Y SANEAMIENTO DEL MUNICIPIO DE CENTRO, TABASCO.</li>
                    <li>SEGURIDAD Y MEDIO AMBIENTE S.A DE C.V.</li>
                    <li>SISTEMA DE AGUA Y SANEAMIENTO (SAS).</li>
                    <li>TURBOMEX S.A DE C.V.</li>
                    <li>UNIVERSIDAD JUÁREZ AUTÓNOMA DE TABASCO.</li>
                  </ul>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>
    <!-- End Section -->
    <include src='../partials/footer.html'></include>
    <include src='../partials/copyright.html'></include>
  </block>
</extends>
