<extends src='../layout.html'>
  <block name='content'>
    <include src='../partials/header.html'></include>
    <!-- Content -->
    <div class="section section-contents section-pad">
      <div class="container">
        <div class="content row">

          <h1>Quienes Somos</h1>
          <h2>Antecedentes</h2>
          <div class="col-sm-7 npl res-m-bttm">
            <p>Toda actividad productiva debe cumplir con requerimientos legales y contractuales en las áreas de salud ocupacional, seguridad industrial y protección ambiental, estos preceptos han abierto áreas de oportunidad permitiendo a las empresas planear opciones de desarrollo compatibles con el bienestar de los trabajadores, la eficiencia de los procesos productivos y la conservación de los recursos naturales.</p>
            <p>La necesidad de implementar herramientas que permitan administrar eficientemente estas áreas, adquiere relevancia a partir del momento en que se detectan los beneficios que representan; por lo que es primordial que las empresas cuen­ten con una plataforma de apoyo que cubra las necesidades que exigen un entorno competitivo.</p>
            <p>Eco lógica S.A de C.V es una empresa cuya finalidad es proveer soluciones globales de ingeniería, administración, asesoría, capacitación, gestión y evaluación, tomando como referencia las bases científicas, legales y normativas.</p>
          </div>
          <div class="col-sm-5 npr">
            <img alt="" src="../img/about-us.jpg">
          </div>

        </div>
        <div class="content row">
          <div class="col-md-12 npl">
            <h2>Información de la Empresa</h2>

          </div>
          <h2>Información de la Empresa</h2>

        </div>
      </div>
    </div>
    <!-- End content -->
    <include src='../partials/footer.html'></include>
    <include src='../partials/copyright.html'></include>
  </block>
</extends>
