<extends src='../layout.html'>
  <block name='content'>
    <include src='../partials/header.html'></include>
    <!-- Content -->
    <div class="section section-contents section-pad">
      <div class="container">
        <div class="content row">

          <h1>Quienes Somos</h1>
          <h2>Antecedentes</h2>
          <div class="col-sm-7 npl res-m-bttm">
            <p>Toda actividad productiva debe cumplir con requerimientos legales y contractuales en las áreas de salud ocupacional, seguridad industrial y protección ambiental, estos preceptos han abierto áreas de oportunidad permitiendo a las empresas planear
              opciones de desarrollo compatibles con el bienestar de los trabajadores, la eficiencia de los procesos productivos y la conservación de los recursos naturales.</p>
            <p>La necesidad de implementar herramientas que permitan administrar eficientemente estas áreas, adquiere relevancia a partir del momento en que se detectan los beneficios que representan; por lo que es primordial que las empresas cuen­ten con
              una plataforma de apoyo que cubra las necesidades que exigen un entorno competitivo.</p>
            <p>Eco lógica S.A de C.V es una empresa cuya finalidad es proveer soluciones globales de ingeniería, administración, asesoría, capacitación, gestión y evaluación, tomando como referencia las bases científicas, legales y normativas.</p>
          </div>
          <div class="col-sm-5 npr">
            <img alt="" src="../../img/about-us.jpg">
          </div>

        </div>
        <div class="gaps"></div>
        <div class="content row">
          <div class="col-md-12 npl">
            <h2>Información de la Empresa</h2>
          </div>
        </div>
        <div class="gaps"></div>
        <div class="content row">
          <div class="col-md-6 npl">
            <h5>Nombre de la Razón Social</h5>
            <p>Eco Lógica S.A. de C.V Registro Federal de Contribuyentes Elo080822927.</p>
            <h5>Domicilio Fiscal</h5>
            <p>Del Bosque 13 Manzana 44B Fracc Bosque de Saloya Bosques de Saloya, C.P.. 86220, Nacajuca, Tabasco, México.</p>
            <h5>Teléfono de Oficina</h5>
            <p>(993) 266 43 17 Villahermosa, Tabasco.<br> (938) 153 22 70 Cd del Carmen, Campeche.</p>
            <h5>Móvil Atención a Clientes</h5>
            <p>9931 60 7190 Villahermosa, Tabasco.<br> 9381 52 4196 Cd del Carmen, Campeche.</p>
            <h5>Acta Constitutiva</h5>
            <p>No. 89 Vol. 43, Notaría 7 de Cd del Carmen Campeche.</p>
          </div>
          <div class="col-md-6 npl">
            <h5>Registro ante la STPS como Agente Capacitador Externo</h5>
            <p>ELO-080822-927-0013.</p>
            <h5>Número de Registro en el Padrón de Proveedores del Gobierno del Estado de Tabasco.</h5>
            <p>PPGET- 5287.</p>
            <h5>Autorización para la elaboración de estudios de impacto ambiental</h5>
            <p>SERNAPAM/PJC/MIA/-IP-ER-EDA-PPA/020/2009.</p>
            <h5>Correos Electrónico</h5>
            <p>ecológica_services@hotmail.com Villahermosa, Tabasco. <br>ecologica.servicios@hotmail.com Cd del Carmen, Campeche.</p>
          </div>
        </div>
        <div class="gaps"></div>
        <div class="content row">
          <div class="col-md-12 npl">
            <h2>Nuestro Compromiso</h2>
            <p>Tenemos un objetivo bien definido, brindar servicios de ca­lidad que satisfagan las necesidades de nuestros clientes, proveyendo tecnologías limpias y seguras; Nuestra amplia ex­periencia en los servicios que ofrecemos nos permite brindar
              un trato personal y un servicio flexible, hecho a la medida de las necesidades y con la calidad como principal premisa, de esta manera nos sentimos completamente capacitados para resolver cualquier proyecto. Solucionar las necesidades de
              nuestros clientes en cum­plimiento al marco legal del país, los estándares de calidad requeridos, así como los compromisos contractuales que ha­yan adquirido.</p>
          </div>
        </div>
        <div class="gaps"></div>
        <div class="content row">
          <div class="col-md-4 npl">
            <h2>¿Quiénes Somos?</h2>
            <p>Somos un grupo interdisciplinario, innovador, preocupado por la seguridad industrial y el medio ambiente, nuestras actividades son el desarrollo de proyectos tomando como referencia las bases científicas de ingeniería, legales y normativas.</p>
          </div>
          <div class="col-md-4 npl">
            <h2>Política de Calidad</h2>
            <p>Es compromiso de todos y cada uno de los que integramos Eco Lógica S.A. de C.V. satisfacer las necesidades de nues­tros clientes ofreciendo productos y servicios de la más alta calidad buscando permanentemente la mejora continua.</p>
          </div>
          <div class="col-md-4 npr">
            <img alt="" src="../../img/politica.jpg">
          </div>
        </div>
        <div class="gaps"></div>
        <div class="content row">
          <div class="col-md-12 npl">
            <h2>Convenios</h2>
            <ul class="list-style dots">
              <li>Representantes Técnicos de la Universidad Juárez Autónoma de Tabasco para la gestión de proyectos.</li>
              <li>Representantes de Servicios de la empresa Ecotmed S.A. de C.V. el cual cuenta con un sistema integral de servicios con acreditación ante la EMA; así como las autorizaciones correspondientes de la Procuraduría Federal de Protección al Am­biente.
                Unidad de Verificación: AAPROFEPA066/05.</li>
            </ul>
          </div>
        </div>
        <div class="gaps"></div>
        <div class="content row">
          <div class="col-md-12 npl">
            <div class="panel-group accordion filled" id="general" role="tablist" aria-multiselectable="true">
              <!-- each panel for accordion -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="ques-i1">
                  <h4 class="panel-title">
							                <a class="active collapsed" role="button" data-toggle="collapse" data-parent="#general" href="#ques-ans-i1" aria-expanded="false">
							                    Proyectos Participados
							                	<span class="plus-minus"><span></span></span>
							                </a>
							            </h4>
                </div>
                <div id="ques-ans-i1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ques-i1" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                    <ul class="list-style dots">
                      <li>Estudios de caracterización de Suelo-Agua –Sedimento.</li>
                      <li>Evaluación de daños ambientales de los trabajos de restauración de fugas, derrames y pasivo Ecológico en el activo de pro­ducción Samaria – Luna Convenio No.415502884.</li>
                      <li>Contrato No. CSRS-AS-031-02 Julio de 2004 a Junio de 2005 Universidad Juárez Autónoma de Tabasco.</li>
                      <li>Elaboración de estudios de caracterización al agua y sedimento del pantano aledaño al lado este del patín de medición, para determinar el porcentaje de TPH’s por contaminación de hidrocarburos, Complejo Procesador de Gas Nuevo PEMEX
                        del CDGM. CD. PEMEX, Tabasco. (Marzo del 2004/Julio 2004), No. DE CONTRATO: 412604819.</li>
                      <li>Evaluación de daños ambientales de los trabajos de restauración de fugas, derrames y pasivo Ecológico en el activo de producción Samaria – Sitio Grande Convenio No.415502884, Contrato No. CSRS-AS-031-02. 2003, Universidad Juárez
                        Autónoma de Tabasco.</li>
                      <li>Estudios de riesgo Ambiental / Programa de Prevención de Accidentes.</li>
                      <li>Estudio de riesgo ambiental y programa de prevención de accidentes, para la construcción y operación de una mini estación de servicio propiedad de la empresa Hidrosina Plus S.A. de C.V., en el estacionamiento del centro comercial
                        Soriana, Ran­chería Paso y Plaza, Cárdenas, Tabasco 2006.</li>
                      <li>Estudio de riesgo y programa de prevención de accidentes, para la construcción y operación de una mini estación de servicio propiedad de la empresa Hidrosina Plus S.A. de C.V., en el estacionamiento del centro comercial Soriana,
                        Col. López Mateos, Comalcalco, Tabasco 2006.</li>
                      <li>Manifiesto de impacto ambiental, estudio de riesgo ambiental y programa de prevención de accidentes, para la “Construcción y operación de un polvorín para el almacenamiento de explosivos tipo disparo, utilizados para la puesta en
                        operación de pozos petroleros”; en la Ciudad de Villahermosa, Tabasco, México 2005.</li>
                      <li>Actualización del Estudio de Riesgo Nivel III para el Centro de Distribución de Gas Marino, Cd. Pemex, Tabasco, Julio. 2004.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- each panel for accordion -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="ques-i2">
                  <h4 class="panel-title">
							                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#general" href="#ques-ans-i2" aria-expanded="false">
							                    Manifestaciones de Impacto Ambiental
							                	<span class="plus-minus"><span></span></span>
							                </a>
							            </h4>
                </div>
                <div id="ques-ans-i2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ques-i2" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                    <ul class="list-style dots">
                      <li>Manifestación de Impacto Ambiental Modalidad Particular, Sector Industrial del Proyecto “Base de Instalaciones Mxm Ofs Periférica II Km 14.5 Ciudad del Carmen, Campeche de Dowell Schlumberger de México, S.A. de C.V”.</li>
                      <li>Manifiesto de Impacto Ambiental del Proyecto “Construcción y Operacióde una Estación de Servicio para la Comercialización de Gasolinas Pemex-Premium y Pemex Magna, Diesel, Aceites y Grasas Lubricantes Marca Pemex” ubicado en el km
                        0+100 de la carretera Nacajuca- Jalpa de Méndez, mpio. Nacajuca, Tabasco.</li>
                      <li>Manifestación de Impacto Ambiental correspondiente a la Remodelación y Ampliación del volumen de almacenamiento de la planta de xileno, ubicada en la base villahermosa de la Dowell Schlumberger de México S.A de C.V.</li>
                      <li>Opinión Técnica del proyecto “Construcción del almacén OFS y de área de tanques Dos Bocas¨, Dowell Schlumberger de México S.A de C.V. abril del 2010.</li>
                      <li>Manifestación de impacto ambiental del proyecto “Operación del proyecto Almacén OFS y área de tanques en Dos Bocas, Paraíso Tabasco”. Dowell Schlumberger de México S.A de C.V. abril del 2010.</li>
                      <li>Regularización de quince plantas de tratamiento de aguas residuales administradas por el Sistema de Agua y Saneamiento del Municipio del Centro, Tabasco, Abril del 2010.</li>
                      <li>Regularización de cincuenta y tres plantas de tratamiento de aguas residuales administradas por la Comisión Estatal de Agua y Saneamiento, Gobierno del Estado de Tabasco Mayo del 2010 contrato CEAS-CPSP-002-2010 en relación a los
                        trabajos “ELABORACIÓN DE DICTÁMENES, PERITAJES, MANIFESTACIONES, Y/O EQUIVALENTES, ASESORÍA JURÍDICA Y GESTIONES DIVERSAS EN MATERIA AMBIENTAL”.</li>
                      <li>Manifestación de impacto ambiental modalidad informe preventivo, del proyecto “Establecimiento de un patio para el desa­rrollo de actividades industriales” ubicado en la Ranchería El Limón s/n en el municipio de Paraíso, Tabasco,
                        perteneciente a la empresa Comercializadora y Logística Empresarial S.A de CV., 2009.</li>
                      <li>Manifestación de impacto ambiental modalidad general, del proyecto “Fraccionamiento Blancas Mariposas”, ubicado en carretera federal Comalcalco- Paraíso en la Ranchería Oriente Primera Sección en el municipio de Paraíso, Tabasco,
                        para la empresa Desarrollo Inmobiliario Habitacional S.A. de C.V. (DIHASA), 2009.</li>
                      <li>Manifestación de impacto ambiental, modalidad Informe Preventivo, de las instalaciones de la empresa Energy &amp; Controls de México, S.A de C.V. en la ciudad de Paraíso, Tabasco 2009.</li>
                      <li>Manifestación de impacto ambiental del proyecto; “Segunda etapa imagen urbana Villa Tapijulapa andador turístico ribereño Río Amatán”, Tacotalpa, Tabasco 2008.</li>
                      <li>Manifestación de impacto ambiental modalidad particular del proyecto “Fraccionamiento las Joyas” en el municipio de Nacaju­ca, Tabasco, México 2008.</li>
                      <li>Manifestación de impacto ambiental del proyecto “Construcción de un taller de soldadura para trabajos industriales y de negocios”, en el Municipio de Cadereyta, Jiménez Nuevo León, México 2008.</li>
                      <li>Estudio de impacto urbano del proyecto “Construcción de una estación de servicio para la comercialización de gasolinas Pemex-Premium y Pemex Magna, diesel, aceites y grasas lubricantes marca Pemex-Mexlub” Villahermosa, Tabasco, México
                        2008.
                      </li>
                      <li>Manifiesto de impacto ambiental proyecto de vías de comunicación / infraestructura caminera Tapijulapa – Oxolotan, longitud de 17 + 000 km. Municipio de Tacotalpa, Tabasco 2005.</li>
                      <li>Manifiesto de impacto ambiental proyecto “Rehabilitación y ampliación del camino estatal Cd. Pemex – Jonuta – El Monte Alegre, longitud de 8 + 700 km”. Municipios de Macuspana y Jonuta, Tabasco 2004.</li>
                      <li>Manifiesto de impacto ambiental proyecto “Estudios y proyectos geométricos, para el mejoramiento de la alineación horizontal y vertical en puntos de conflicto carretera Villahermosa Tuxtla longitud de 0 + 990 kms”. Municipio de Tuxtla
                        Gutiérrez, Chia­pas, México 2004.</li>
                      <li>Manifiesto de impacto ambiental proyecto “Aprovechamiento de especies de peces comerciales por sistema de “Tapo” en la laguna Trinidad”, municipio de Emiliano Zapata, Tabasco, México 2004.</li>
                      <li>Manifiesto de impacto ambiental modalidad particular para el proyecto “Cooperativa Acuícola Tecnológica de Tabasco S.C. de R.L.” Ubicada en la Ranchería Coronel Traconis, s/n municipio del Centro, Tabasco 2004.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- each panel for accordion -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="ques-i3">
                  <h4 class="panel-title">
							                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#general" href="#ques-ans-i3" aria-expanded="false">
							                   	Otros Proyectos Desarrollados
							                	<span class="plus-minus"><span></span></span>
							                </a>
							            </h4>
                </div>
                <div id="ques-ans-i3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ques-i3" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                    <ul class="list-style dots">
                      <li>Limpieza de un separador trifásico de 82 m3, en el Activo Bellota Jujo, Huimanguillo Tabasco, para la empresa ABENGOA MEXICO S.A DE C.V, marzo 2010.</li>
                      <li>Evaluación de las condiciones de iluminación en las oficinas y áreas de almacén de la empresa Representaciones y Distribu­ciones EVYA S.A de C.V ubicadas en el API Dos Bocas” de acuerdo a la Norma Oficial Mexicana, NOM-025-STPS-1999.
                        agosto/2009.
                      </li>
                      <li>Monitoreo de los niveles de Ruido en la instalaciones de la empresa Representaciones y Distribuciones EVYA S.A de C.V, en cumplimiento a la Norma Oficial Mexicana NOM-011-STPS-2001, agosto/2009.</li>
                      <li>Evaluación de la resistencia eléctrica y de tensión de corriente en las oficinas y áreas de almacén de la empresa Represen­taciones y Distribuciones EVYA S.A de C.V ubicadas en el API Dos Bocas” de acuerdo a la Norma Oficial Mexicana,
                        NOM-022- STPS-1999 y la NOM-029-STPS-2005, agosto/2009.</li>
                      <li>Cursos de “Operación de detectores de gas”, “Armado de andamios” y “Curso básico de Primeros Auxilios”, con una duración de 8 horas cada uno, al personal de la empresa TURBOMEX S.A de C.V, en la cuidad de Paraíso Tabasco, los días
                        22, 23 y 24 de mayo del 2009.</li>
                      <li>Implantación de sistema de gestión de seguridad y protección ambiental de la empresa Carga Multimodal S.A de C.V. en cumplimiento a los requisitos establecidos en el Anexo “S” de Pemex Exploración y Producción, en la ciudad de Paraíso
                        Tabasco; Año 2009.</li>
                      <li>Asesoría a la empresa Carga Multimodal S.A de C.V. y atención a auditorías realizadas por Pemex en las áreas de Seguridad Industrial y Protección Ambiental; la ciudad de Paraíso Tabasco Año 2009.</li>
                      <li>Integración del reporte técnico “Restauración de suelo en las instalaciones de la empresa Consorcio de Arquitectura y Eco­logía, S.A. de C.V. En la Ranchería el Plátano 1ra. Sección, Cunduacán, Tabasco”, 2008.</li>
                      <li>Determinación de la composición florística en una franja entre la carretera y la Laguna Nichupte y Borjórquez, para la amplia­ción del boulevard Kukulcan en Cancún Quintana Roo México, 2007.</li>
                      <li>Evaluación de daños ambientales para determinar el impacto ocasionado por fuego y dispersión de hidrocarburos. Com­plejo Procesador de Gas Nuevo PEMEX del CDGM. CD. PEMEX, Tabasco CONTRATO: 412604819, 2004.</li>
                      <li>Informe técnico del proyecto de Biorremediación al suelo contaminado por dispersión de hidrocarburos en las áreas aledañas al patín de medición del C.D.G.M. En concordancia con la norma NOM-EM-138- ECOL-2002. 2004.</li>
                      <li>Muestreo y análisis para determinar cuantitativamente la pre­sencia del mercurio en el gas de alimentación, a la Planta Criogénica 2 del Complejo Procesador de Gas; Ciudad PE­MEX, (Agosto/ 2004).</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- each panel for accordion -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="ques-i4">
                  <h4 class="panel-title">
							                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#general" href="#ques-ans-i4" aria-expanded="false">
							                   	Clientes
							                	<span class="plus-minus"><span></span></span>
							                </a>

							            </h4>
                </div>
                <div id="ques-ans-i4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ques-i4" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                    <ul class="list-style dots">
                      <li>ABENGOA MEXICO S.A DE C.V.</li>
                      <li>ACC INGENIERÍA Y SERVICIOS ESPECIALIZADOS S.A DE C.V.</li>
                      <li>AUTO LÍNEAS INTEGRALES MEXICANAS S.A DE C.V.</li>
                      <li>CARGA MULTIMODAL S.A DE C.V.</li>
                      <li>CONSTRUCTORA CG, S.A. DE C.V.</li>
                      <li>COMISIÓN ESTATAL DE AGUA Y SANEAMIENTO (CEAS).</li>
                      <li>COMERCIALIZADORA Y LOGÍSTICA EMPRESARIAL S.A DE CV.</li>
                      <li>CHINA OILFIELD SERVICES LIMITED (COSL).</li>
                      <li>DESARROLLO INMOBILIARIO HABITACIONAL S.A. DE C.V. (DIHASA).</li>
                      <li>DOWELL SCHLUMBERGER DE MEXICO S.A DE C.V.</li>
                      <li>ENERGY &amp; CONTROLS DE MÉXICO S.A DE C.V.</li>
                      <li>INGENIERIA APLICADA EN SERVICIOS AMBIENTALES S.A DE S.V (INASA).</li>
                      <li>JC CONSULTORÍA S.A DE C.V.</li>
                      <li>OCEANOGRAFÍA S.A DE C.V.</li>
                      <li>MI DRILLING FLUIDS DE MEXICO S.A DE C.V.</li>
                      <li>PRAXAIR DE MEXICO, S. DE R.L. DE C.V.</li>
                      <li>REPRESENTACIONES Y DISTRIBUCIONES EVYA S.A DE C.V.</li>
                      <li>SCHLUMBERGER OFFSHORE MEXICO N.V.</li>
                      <li>SECAE S.A DE C.V.</li>
                      <li>SERVICIO PETROTEC S.A DE C.V.</li>
                      <li>SISTEMA DE AGUA Y SANEAMIENTO DEL MUNICIPIO DE CENTRO, TABASCO.</li>
                      <li>SEGURIDAD Y MEDIO AMBIENTE S.A DE C.V.</li>
                      <li>SISTEMA DE AGUA Y SANEAMIENTO (SAS).</li>
                      <li>TURBOMEX S.A DE C.V.</li>
                      <li>UNIVERSIDAD JUÁREZ AUTÓNOMA DE TABASCO.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- end each panel -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End content -->
    <include src='../partials/footer.html'></include>
    <include src='../partials/copyright.html'></include>
  </block>
</extends>
