<extends src='../layout.html'>
  <block name='content'>
    <include src='../partials/header.html'></include>
    <!-- Contents -->
    <div class="section section-contents section-pad">
      <div class="container">
        <div class="content row">

          <div class="row">
            <div class="col-md-8">

              <h1>Sociedades Estrategicas</h1>

              <p>Ecológica tiene convenios con compañías nacionales e internacionales para proveer servicios de nivel mundial.
Nuestros socios comparten el compromiso que tenemos con la excelencia y la satisfacción de nuestros clientes.</p>

              <div class="client-logo row space-top-md">
                <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                  <img alt="" src="../img/intelex.jpg">
                </div>
                <div class="col-sm-8 col-xs-12">
                  <p>Desde 1992, Intelex Technologies Inc. ha sido un proveedor global líder de Software administrativo para EHS. Cuenta con una base de más de 850 clientes en todo el mundo.</p>
                  <a href="http://www.intelex.com">www.intelex.com</a>
                </div>
              </div>

              <div class="client-logo row space-top-md">
                <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                  <img alt="" src="../img/ecotmed.jpg">
                </div>
                <div class="col-sm-8 col-xs-12">
                  <p>Empresa que ofrece servicios de verificacion de recipientes a presion, calibracion de equipo, auditorías ambientales, tratamiento de aguas, pruebas no destructivas entre otros.</p>
                  <a href="http://www.grupoecotmed.com/">www.grupoecotmed.com</a>
                </div>
              </div>
              <div class="client-logo row space-top-md">
                <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                  <img alt="" src="../img/eco-safety.jpg">
                </div>
                <div class="col-sm-8 col-xs-12">
                  <p>Eco Safety está comprometida en ayudar a las compañías a crear ambientes de trabajo seguros. Proveen productos de seguridad de calidad.</p>
                  <a href="http://www.ecosafety.com">www.ecosafety.com</a>
                </div>
              </div>
              <div class="client-logo row space-top-md">
                <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                  <img alt="" src="../img/ecologica-learning.jpg">
                </div>
                <div class="col-sm-8 col-xs-12">
                  <p>Ecologica Learning está comprometida en ayudar a las compañías a crear ambientes de trabajo seguros. Proveen cursos de capacitación de calidad.</p>
                  <a href="http://www.ecologicalearning.com">www.ecologicalearning.com</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Section -->
    <include src='../partials/footer.html'></include>
    <include src='../partials/copyright.html'></include>
  </block>
</extends>
