<extends src='../layout.html'>
  <block name='content'>
    <include src='../partials/header.html'></include>
    <!-- Content -->
    <div class="section section-content section-pad">
      <div class="container">
        <div class="content row">

          <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 pull-right res-m-bttm">
              <a href="solution-single.html"><img src="../img/costa-afuera-1.jpg" alt=""></a>
            </div>
            <div class="col-md-6 col-sm-6">
              <h2 class="heading">Servicios Costa Afuera</h2>
              <p class="lead">Los servicios costa afuera que prestamos a nuestros clientes son realizados con profesionalismo y de acuerdo a sus necesidades individuales.</p>
              <p>Lista de servicios costa afuera:</p>
              <ul class="list-style dots">
                <li>Atlas de riesgo.</li>
                <li>Análisis de riesgos de procesos.</li>
                <li>Estudio de riesgo ambiental nivel 2.</li>
                <li>Auditoria ambiental (industria limpia).</li>
                <li>Plan de respuesta a emergencias.</li>
                <li>Gestión para la verificación de la NOM 028 STPS 2005.</li>
                <li>Programa de prevención de accidentes.</li>
                <li>Plan de contingencia ambiental.</li>
                <li>Grado de riesgo de incendio de la NOM 02 STPS 2010.</li>
                <li>Plan de acción integral.</li>
                <li>Trámite para descarga y aprovechamiento de aguas residuales.</li>
                <li>PND y verificación de RSP.</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Content -->
    <include src='../partials/footer.html'></include>
    <include src='../partials/copyright.html'></include>
  </block>
</extends>
