<extends src='../layout.html'>
  <block name='content'>
    <include src='../partials/header.html'></include>
    <!-- Content -->
    <div class="section section-content section-pad">
      <div class="container">
        <div class="content row">

          <div class="row">
            <div class="col-md-12">
              <h2 class="heading">Cursos</h2>
              <div class="table-responsive">
                <table border="0" cellspacing="0" cellpadding="0" class="table table-striped">
                  <thead>
                    <tr>
                      <th>NOMBRE</th>
                      <th>DURACIÓN</th>
                      <th>CERTIFICADO POR</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>SIGNATARIO DE PERMISO DE TRABAJO CON RIESGO</td>
                      <td>16 HRS</td>
                      <td>
                        <p>PEP</p>
                      </td>
                    </tr>
                    <tr>
                      <td>CURSO BÁSICO DE SEGURIDAD E HIGIENE (RIG PASS)</td>
                      <td>16 HRS</td>
                      <td>
                        <p>IADC</p>
                      </td>
                    </tr>
                    <tr>
                      <td>PRIMEROS AUXILIOS CERTIFICADO</td>
                      <td>8 HRS</td>
                      <td>NATIONAL SAFETY COUNCIL</td>
                    </tr>
                    <tr>
                      <td>TRABAJOS EN AREAS CON ATMOSFERAS CON H2S</td>
                      <td>8 HRS</td>
                      <td>
                        <p>STPS</p>
                      </td>
                    </tr>
                    <tr>
                      <td>MANEJO DEFENSIVO</td>
                      <td>8 HRS</td>
                      <td>NATIONAL SAFETY COUNCIL</td>
                    </tr>
                    <tr>
                      <td>TRABAJO EN ALTURAS AVANZADO</td>
                      <td>6 HRS</td>
                      <td>
                        <p>STPS</p>
                      </td>
                    </tr>
                    <tr>
                      <td>TECNICAS DE VERIFICACION DE GAS</td>
                      <td>8 HRS</td>
                      <td>
                        <p>PEP</p>
                      </td>
                    </tr>
                    <tr>
                      <td>MANEJO SEGURO DE SUSTANCIAS Y MATERIALES PELIGROSOS NIVEL 2</td>
                      <td>8 HRS</td>
                      <td>
                        <p>STPS</p>
                      </td>
                    </tr>
                    <tr>
                      <td>MANIPULACION MANUAL DE CARGAS</td>
                      <td>8 HRS</td>
                      <td>
                        <p>STPS</p>
                      </td>
                    </tr>
                    <tr>
                      <td>ANALISIS Y EVALUACION DE RIESGOS</td>
                      <td>8 HRS</td>
                      <td>NATIONAL SAFETY COUNCIL</td>
                    </tr>
                    <tr>
                      <td>WELL CAP (BASICO)</td>
                      <td>16 HRS</td>
                      <td>
                        <p>IADC</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Content -->
    <include src='../partials/footer.html'></include>
    <include src='../partials/copyright.html'></include>
  </block>
</extends>
