<extends src='../layout.html'>
  <block name='content'>
    <include src='../partials/header.html'></include>
    <!-- Content -->
    <div class="section section-content section-pad">
      <div class="container">
        <div class="content row">

          <div class="row">
            <div class="col-md-12">
              <h2 class="heading">Estudios STPS</h2>
              <div class="table-responsive">
                <table border="0" cellspacing="0" cellpadding="0" class="table table-striped">
                  <thead>
                    <tr>
                      <th>CONCEPTO</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Estudio de ruido ambiental de acuerdo a la <strong>NOM-011-SPTS-2001</strong></td>
                    </tr>
                    <tr>
                      <td>Estudio de Iluminación de acuerdo a la <strong>NOM-025-STPS</strong></td>
                    </tr>
                    <tr>
                      <td>Estudio de tierras físicas de acuerdo a la <strong>NOM-022-STPS-2008</strong></td>
                    </tr>
                    <tr>
                      <td>Estudio de humos de soldadura de acuerdo a la <strong>NOM-027-STPS-2008</strong></td>
                    </tr>
                    <tr>
                      <td>Alta y prueba de recipiente sujeto a presión de acuerdo a la <strong>NOM-020-STPS-2002</strong></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="gaps"></div>
              <div class="gaps"></div>
              <div class="gaps"></div>
              <div class="gaps"></div>
              <div class="gaps"></div>
              <div class="gaps"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Content -->
    <include src='../partials/footer.html'></include>
    <include src='../partials/copyright.html'></include>
  </block>
</extends>
