<extends src='../layout.html'>
  <block name='content'>
    <include src='../partials/header.html'></include>
    <!-- Content -->
    <div class="section section-content section-pad">
      <div class="container">
        <div class="content row">

          <div class="row">
            <div class="col-md-12">
              <h2 class="heading">Otros Servicios</h2>
              <p class="lead">Estos servicios complementan nuestra oferta profesional</p>
              <ul class="list-style dots">
                <li>Diagnóstico situacional (RFSHMAT).</li>
                <li>Constitución de las Comisiones de Seguridad e Higiene (NOM-019-STPS-2004).</li>
                <li>Elaboración de Manuales y Procedimientos de Seguridad e Higiene.</li>
                <li>Programa Específico / Interno de Protección Civil.</li>
                <li>Coordinación para la realización de simulacros.</li>
                <li>Desarrollo e implantación de Planes de Respuesta a Emergencias PRE y PRE-H.</li>
                <li>Auditorias al Anexo S y desarrollo de programas al anexo DS, Diagnósticos sociales.</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Content -->
    <include src='../partials/cta-catalog.html'></include>
    <include src='../partials/footer.html'></include>
    <include src='../partials/copyright.html'></include>
  </block>
</extends>
