<extends src='../layout.html'>
  <block name='content'>
    <include src='../partials/header.html'></include>
    <!-- Content -->
    <div class="section section-content section-pad">
      <div class="container">
        <div class="content row">

          <div class="row">
            <div class="col-md-12 col-lg-8">
              <h2 class="heading">Protección Ambiental</h2>
              <ul class="list-style dots">
                <li>Recolección y transporte de residuos peligrosos y no peligrosos.</li>
                <li>Determinación de la distribución espacial y concentración de contaminantes vertidos al suelo, subsuelo y/o sedi­mentos y agua por fugas de hidrocarburos, en base a la NOM-138-SEMARNAT/SS-2003 y NOM-021-SEMAR­NAT-2000. (estudios de caracterización).</li>
                <li>Remediación de suelos contaminados por hidrocarburos.</li>
                <li>Atención a contingencias ambientales en aguas y suelos.</li>
                <li>Servicios de apoyo técnico en el desarrollo, supervisión y administración de procesos de implantación de Sistemas de Gestión de Seguridad Industrial y Protección Ambiental.</li>
                <li>Servicios de capacitación; mediante cursos, talleres y material didáctico de acuerdo con las necesidades específi­cas de nuestros clientes (Numero de registro ante la Secretaria del Trabajo y Previsión Social STPS ELO-080822-927-0013).</li>
                <li>Desarrollo de estudios de impacto, riesgo ambiental, programas de prevención de accidentes y Peritos ambientales.</li>
                <li>Comercialización, transporte, acopio, almacenamiento temporal, rehúso, reciclaje de residuos tales como aceites gastados, plásticos, papel, madera, metales, residuos orgánicos y otros susceptibles a ser aprovechados.</li>
                <li>Consultoría, desarrollo de estudios y proyectos relacionados con la investigación, aprovechamiento, conservación, protección, comercialización y rescate de la flora, fauna y recursos naturales.</li>
                <li>Diseño y ejecución de obras de reforestación para el control de procesos erosivos en corredores de tuberías y ad­yacencia de instalaciones, para proteger la integridad física de las mismas (barreras vivas).</li>
                <li>Diseño e instalación de plantas de tratamiento de aguas residuales.</li>
                <li>Servicios de consultoría y asesoría a la industria en general.</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Content -->
    <include src='../partials/footer.html'></include>
    <include src='../partials/copyright.html'></include>
  </block>
</extends>
