<extends src='../layout.html'>
  <block name='content'>
    <include src='../partials/header.html'></include>
    <!-- Content -->
    <div class="section section-content section-pad">
      <div class="container">
        <div class="content row">

          <div class="row">
            <div class="col-lg-8">
              <h2 class="heading">Seguridad Industrial</h2>
              <ul class="list-style dots">
                <li>Estudio para analizar el grado de riesgo de incendio <strong>(NOM-002-STPS-2000)</strong>.</li>
                <li>Estudio para analizar el riesgo potencial generado por la maquinaria y equipo <strong>(NOM-004-STPS-1999)</strong>.</li>
                <li>Estudio para analizar los riesgos generados por el manejo de sustancias químicas peligrosas <strong>(NOM-005-STPS-1998)</strong>.</li>
                <li>Estudio para analizar los riesgos generados por la maquinaria utilizada en el manejo de materiales <strong>(NOM-006-STPS-2000)</strong>.</li>
                <li>Análisis de sustancias químicas <strong>(NOM-010-STPS-1999)</strong>.</li>
                <li>Estudio de ruido <strong>(NOM-011-STPS-2001)</strong>.</li>
                <li>Estudios y análisis de riesgos para la selección del Equipo de Protección Personal <strong>(NOM-017-STPS-2001)</strong>.</li>
                <li>Alta, baja y pruebas a Recipientes Sujetos a Presión <strong>(NOM-020-STPS-2002)</strong>.</li>
                <li>Estudio a la red de tierras (electricidad estática) <strong>(NOM-022-STPS-1999)</strong>.</li>
                <li>Estudio de Vibraciones <strong>(NOM-024-STPS-2001)</strong>.</li>
                <li>Estudio de iluminación <strong>(NOM-025-STPS-1999)</strong>.</li>
                <li>Análisis de los riesgos potenciales para las actividades de soldadura y corte <strong>(NOM-027-STPS-2000)</strong>.</li>
                <li>Diagrama unifilar y análisis de riesgos potenciales en instalaciones eléctricas <strong>(NOM-029-STPS-2005)</strong>.</li>
                <li>Sistema de Administración o Programa de Seguridad e Higiene en el Trabajo <strong>(NOM-030-STPS-2006)</strong>.</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Content -->
    <include src='../partials/footer.html'></include>
    <include src='../partials/copyright.html'></include>
  </block>
</extends>
