<extends src='layout.html'>
  <block name='content'>
      <include src='/partials/header.html'></include>
      <!-- Content -->
      <div class="section section-content section-pad">
        <div class="container">
          <div class="content row">

            <div class="row">
              <div class="col-md-12">
                <h2 class="heading">Aviso de Privacidad</h2>
                <p>Las políticas de privacidad forman parte del uso del sitio web www.ecologica.mx en adelante El Sitio.</p>
                <p>En cumplimiento a la Ley Federal de Protección de Datos Personales en Posesión de los particulares, Ecologica le informa que es responsable de sus datos personales y garantiza respetar la privacidad de sus usuarios y mantener segura la información en su totalidad de los datos que recolecta para la actividad comercial que realiza.</p>
                <p>Los usuarios podrán contactar a Ecologica en cualquier momento a través de los siguientes medios:</p>
                <p>Correo electrónico: (contacto@ecologica.mx)</p>
                <p>Teléfonos: (993) 2668251</p>
                <p>Dirección: Calle Jardines del Sur #115 Col. Atasta C.P. 86100.  en horarios de atención de 9am a 3pm.</p>
                <p>Así mismo, Ecologica informará al usuario qué tipo de datos recolecta, cómo los almacena, la finalidad de su uso, cómo los protege, el alcance de su compromiso de confidencialidad y los derechos que éste posee como titular de la información.</p>
                <h3>TIPO DE INFORMACIÓN</h3>
                <p>Con la finalidad de poder hacer uso del Sitio, Ecologica necesita conocer la siguiente información del usuario:</p>
                <ul class="list-style dots">
                  <li>Nombre(s) y apellido (s)</li>
                  <li>Teléfono(s)</li>
                  <li>Correo electrónico</li>
                </ul>
                <h3>VERACIDAD</h3>
                <p>La información que proporciona deberá ser veraz y completa. El usuario responderá en todo momento por los datos proporcionados y en ningún caso Ecologica será responsable por la falsedad u omisión de éstos.</p>
                <h3>USO</h3>
                <p>Ecologica utilizará la información obtenida para procurar un servicio eficiente y proveer una mejor atención al usuario.</p>
                <p>Con la finalidad de obtener datos demográficos y/o estadísticos, Ecologica también recolectará información mediante encuestas e interacciones a través de su Blog para hacer más eficiente el servicio y mejorar la experiencia de los usuarios.</p>
                <p>Ecologica utilizará información de la IP para analizar las tendencias, administrar el sitio web y recolectar información demográfica. Sin embargo, la IP no será utilizada para identificar a los usuarios, con excepción de los casos en que se investiguen posibles actividades sospechosas y que se consideren una amenaza para El Sitio y la información contenida en el mismo.</p>
                <h3>ALMACENAMIENTO</h3>
                <p>Una vez recibida la información que Ecologica recopila, ésta será decodificada, procesada y almacenada en una base de datos.</p>
                <p>Posteriormente, Ecologica incorporará mecanismos de protección, a fin de evitar —en la medida de lo posible— desviaciones, adulteración, pérdida, consulta o tratamiento no autorizado de dicha información.</p>
                <p>Ecologica  en ningún momento almacenará datos bancarios o financieros de los usuarios sin su consentimiento.</p>
                <h3>CONFIDENCIALIDAD</h3>
                <p>Ecologica NO venderá, cederá, ni transferirá la información obtenida de los usuarios. Pero si podrá utilizarla y será presentada para resolver disputas y problemas que deriven del mal uso de El Sitio.</p>
                <p>Ecologica se reserva el derecho de solicitar información para ser compartida con instituciones e intermediarios bancarios con el fin de facilitar el procesamiento de pagos con tarjeta de crédito o débito y PayPal así como prevenir y detectar actos potencialmente ilícitos o fraudes. Así mismo, la institución bancaria puede contactar al tarjetahabiente para validar los datos introducidos al realizar la transacción.</p>
                <p>Ecologica NO revelará información a terceros salvo cuando:</p>
                <ul class="list-style dots">
                  <li>El usuario lo autorice expresamente.</li>
                  <li>Sea requerido por la ley, decreto o resolución administrativa.</li>
                  <li>Sea en cumplimiento de una resolución judicial.</li>
                  <li>Se utilice el sitio web para desarrollar actividades ilegales, causar daños o perjuicios a Ecologica, a sus bienes, terceros o a otros usuarios.</li>
                </ul>
                <h3>PROTECCIÓN DE LA INFORMACIÓN</h3>
                <p>Ecologica implementará las herramientas necesarias para proteger la información y se compromete a renovar y actualizar los protocolos de seguridad conforme el paso del tiempo lo demande. Entre las cuales:</p>
                <ul class="list-style dots">
                  <li>Utilizamos el Secure Sockets Layer Software (SSL) para proteger la información ya que este sistema codifica la información que los usuarios introducen. </li>
                  <li>Sólo mostramos  los cuatro últimos dígitos de los números de sus tarjetas de crédito en los pedidos y confirmaciones de compra. Transmitimos el número completo de la tarjeta de crédito a las instituciones bancarias para procesar el pago pero no lo almacenamos en ningún lado.</li>
                  <li>Es importante que los usuarios protejan su información al no compartir su usuario ni su contraseña y de siempre cerrar su sesión al salir de la computadora.</li>
                </ul>
                <h3>DERECHOS DEL USUARIO</h3>
                <p>El usuario tendrá derecho a acceder a su información personal almacenada en la base de datos de Ecologica para rectificar, actualizar o darla de baja cuando lo requiera, ingresado para ello su nombre de usuario y clave personal o enviando un correo a contacto@ecologica.mx según sea el caso.</p>
                <h3>MODIFICACIONES EN LAS POLÍTICAS DE PRIVACIDAD</h3>
                <p>Ecologica se reserva el derecho de efectuar en cualquier momento, modificaciones en las presentes políticas de privacidad y adaptarla a novedades legislativas, jurisprudenciales, así como a prácticas del mercado. Queda bajo responsabilidad del usuario leer periódicamente las políticas de privacidad para estar al tanto de posibles modificaciones, las cuales al ser introducidas en el sitio web entrarán automáticamente en vigor.</p>



              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- End Content -->
      <include src='/partials/footer.html'></include>
      <include src='/partials/copyright.html'></include>
  </block>
</extends>
