<extends src='layout.html'>
  <block name='content'>
    <include src='/partials/header.html'></include>
    <!-- Map -->
    <div class="map-holder map-contact">
      <div id="gmapVilla" style="width:100%;height:400px;"></div>
      <div id="gmapCarmen" style="width:100%;height:400px;"></div>
    </div>
    <div class="container map-switch">
      <div class="content row">
        <div class="col-md-6 col-lg-3 col-lg-offset-3">
          <h4 class="map-switch__item active">Villahermosa</h4>
        </div>
        <div class="col-md-6 col-lg-3">
          <h4 class="map-switch__item">Ciudad del Carmen</h4>
        </div>
      </div>
    </div>
    <!-- End map -->
    <!-- Content -->
    <div class="section section-contents section-contact section-pad">
      <div class="container">
        <div class="content row">

          <h1>Contacto</h1>
          <div class="contact-content row">
            <div class="drop-message col-md-7 res-m-bttm">
              <p>¿Tiene dudas sobre nuestros servicios y productos? <br>No dude en ponerse en contacto y a la brevedad las responderemos.</p>
              <include src='/partials/form-contact.html'></include>
            </div>
            <div class="row">
              <div class="contact-details col-sm-12 col-lg-4 col-lg-offset-1">
                <h3>Villahermosa Tabasco</h3>
                <ul class="contact-list">
                  <li><em class="fa fa-map" aria-hidden="true"></em>
                    <span>Calle Jardines del Sur #115 <br>Col. Atasta C.P. 86100.</span>
                  </li>
                  <li><em class="fa fa-envelope" aria-hidden="true"></em>
                    <span><a href="mailto:info@ecologica.mx">info@ecologica.mx</a></span>
                  </li>
                  <li>
                    <em class="fa fa-clock-o" aria-hidden="true"></em><span>Lun - Sab: 8AM - 7PM </span>
                  </li>
                </ul>
              </div>
              <div class="contact-details col-sm-12 col-lg-4 col-lg-offset-1">
                <h3>Ciudad del Carmen</h3>
                <ul class="contact-list">
                  <li><em class="fa fa-map" aria-hidden="true"></em>
                    <span>Av Isla de Tris, Edif B <br> Plaza Residencial del Lago.</span>
                  </li>
                  <li><em class="fa fa-envelope" aria-hidden="true"></em>
                    <span><a href="mailto:info@ecologica.mx">info@ecologica.mx</a></span>
                  </li>
                  <li>
                    <em class="fa fa-clock-o" aria-hidden="true"></em><span>Lun - Sab: 8AM - 7PM </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Content -->
    <include src='/partials/footer.html'></include>
    <include src='/partials/copyright.html'></include>
  </block>
</extends>
