<extends src='layout.html'>
  <block name='content'>
      <include src='/partials/header.html'></include>
      <!-- Main Content -->
      <div class="section section-contents error-page">
        <div class="container">
          <div class="row">
            <div class="404-content col-md-6 col-md-offset-3">
              <h1>Gracias</h1>
              <p>Nos pondremos en contacto a la mayor brevedad.</p>
              <p><a href="./"><em class="fa fa-angle-left"></em> Volver al Inicio</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Main content -->
      <include src='/partials/footer.html'></include>
      <include src='/partials/copyright.html'></include>
  </block>
</extends>
