<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='description' content=''>
  <meta name='author' content='kaleblv'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <block name='title'>
    <title>Title of Your Site</title>
  </block>
  <link rel='stylesheet' href='/css/index.css'>
</head>

<body class="site-body style-v1">
  <main id='{{ pageId }}'>
    <block name='content'></block>
  </main>

  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

  <block name='javascript'>
    <script src='/js/jquery.bundle.js' defer></script>
    <script src='/js/script.js' defer></script>
    <script src='/js/main.js' defer></script>
  </block>
</body>

</html>
