<extends src='../layout.html'>
  <block name='content'>
    <include src='../partials/header-en.html'></include>
    <include src='../partials/hero-home-en.html'></include>
    <include src='../partials/services-en.html'></include>
    <!--<include src='../partials/testimonials.html'></include>
    <include src='../partials/featured-projects.html'></include>-->
    <include src='../partials/cta-main-en.html'></include>
    <include src='../partials/clients-en.html'></include>
    <include src='../partials/footer-en.html'></include>
    <include src='../partials/copyright-en.html'></include>
  </block>
</extends>
