<extends src='../layout.html'>
  <block name='content'>
    <include src='../partials/header-en.html'></include>
    <!-- Content -->
    <div class="section section-content section-pad">
      <div class="container">
        <div class="content row">
          <div class="row">
            <div class="col-md-12">
              <h2 class="heading">Privacy Policy</h2>
              <p>Privacy policies are part of website use www.ecologica.mx here in after the Site.</p>
              <p>Pursuant to the Federal Law on Protection of Personal Data held by individuals, Ecologica informs you that are responsible for your personal data and ensures respect the privacy of its users and keep information secure entire data gathering
                for commercial activity carried out.</p>
              <p>Users can contact Ecologica at any time through the following means:</p>
              <p>Email:(contacto@ecologica.mx)</p>
              <p>Phone: (993) 2668251</p>
              <p>Address: Calle Jardines del Sur # 115 Col. CP 86100. Atasta in opening hours from 9am to 3pm.</p>
              <p>Also, Ecologica inform the user what type of data collected, how the stores, the purpose of use, how protect, the extent of its commitment to confidentiality and the rights it possesses as owner of the information.</p>
              <h3>TYPE OF INFORMATION</h3>
              <p>In order to able to use the Site, Ecologica need know the following user information:</p>
              <ul class="list-style dots">
                <li>Name (s) and surname (s)</li>
                <li>Phone (s)</li>
                <li>Email</li>
              </ul>
              <h3>ACCURACY</h3>
              <p>The information provided must be truthful and complete. The user responsible at all times for the data provided and in no case Ecologica be liable for misrepresentation or omission of these.</p>
              <h3>USE</h3>
              <p>Ecologica use the information obtained to ensure efficient service and provide better customer service.</p>
              <p>In order to obtain demographic and / or statistical data, Ecologica also collect information through surveys and interactions through your Blog to streamline service and improve user experience.</p>
              <p>Ecologica will use information to analyze trends, administer the site and gather demographic information. However, the IP not be used to identify users, except for cases where potentially suspicious activities are investigated and considered
                a threat to the Site and the information contained therein.</p>
              <h3>STORAGE</h3>
              <p>Upon receipt the information collected Ecologica, it will be decoded, processed and stored in a database.</p>
              <p>Subsequently, Ecologica incorporate protection mechanisms in order to avoid, as far as possible deviations, tampering, loss, unauthorized consultation or treatment of such information.</p>
              <p>Ecologica at any time store banking or financial data users without their consent.</p>
              <h3>CONFIDENTIALITY</h3>
              <p>Ecologica not sell, assign, or transfer information from users. But if you can use and it will be presented to resolve disputes and problems arising from misuse of the Site.</p>
              <p>Ecologica reserves the right to request information to be shared with institutions and banking intermediaries in order to facilitate the processing of payments by credit card or debit card and PayPal as well as prevent and detect potentially
                illegal acts or fraud. Also, the bank may contact the cardholder to validate data entered to complete the transaction.</p>
              <p>Ecologica not disclose information to third parties unless:</p>
              <ul class="list-style dots">
                <li>User expressly authorized.</li>
                <li>It is required by law, decree or administrative decision.</li>
                <li>Be in compliance with a court order.</li>
                <li>The website to develop illegal activities is used, causing damages to Ecologica, their property, third parties or other users.</li>
              </ul>
              <h3>INFORMATION PROTECTION</h3>
              <p>ECOLOGICA implement the tools necessary to protect information and agrees to renew and upgrade security protocols as the time demands. Among them:</p>
              <ul class="list-style dots">
                <li>Use Secure Sockets Layer Software (SSL) to protect information as this system encodes the information that users enter.</li>
                <li>We show only the last four digits of the numbers of your credit card orders and purchase confirmations. We transmit the entire number of credit card banking institutions to process payment but do not store anywhere.</li>
                <li>Is important that users protect their information not share your username or password and always log when leaving the computer.</li>
              </ul>
              <h3>USER RIGHTS</h3>
              <p>The user has right to access your personal information stored in the database Ecologica to correct, update or shoot it down when required, entered for that your username and password or sending an email to contact @ ecologica.mx as appropriate.</p>
              <h3>CHANGES IN PRIVACY POLICY</h3>
              <p>Ecologica reserves the right to make at any time, changes in privacy policies and adapt to legislation, case law,well as market practices. It is the user responsibility periodically review the privacy policies to be aware of possible modifications,
                which when introduced on the website automatically take effect.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Content -->
    <include src='../partials/footer-en.html'></include>
    <include src='../partials/copyright-en.html'></include>
  </block>
</extends>
