<extends src='../../layout.html'>
  <block name='content'>
    <include src='../../partials/header-en.html'></include>
    <!-- Content -->
    <div class="section section-contents section-pad">
      <div class="container">
        <div class="content row">

          <h1>About Us</h1>
          <h2>Background</h2>
          <div class="col-sm-7 npl res-m-bttm">
            <p>Every productive activity must comply with legal and contractual requirements in the areas of occupational health, safety and environmental protection, these precepts have open areas of opportunity allowing companies to plan development options
              compatible with the welfare of workers, the efficiency of production processes and the conservation of natural resources detected.</p>
            <p>The need to implement tools to efficiently manage these areas becomes relevant from the time that the benefits representing therefore it is essential that businesses have a support platform that meets the needs that require a competitive environment.</p>
            <p>Eco Logic SA de CV is a company whose purpose is to provide comprehensive solutions to engineering, management, consulting, training, management and evaluation, with reference to the scientific, legal bases and regulations.</p>
          </div>
          <div class="col-sm-5 npr">
            <img alt="" src="../../img/about-us.jpg">
          </div>

        </div>
        <div class="gaps"></div>
        <div class="content row">
          <div class="col-md-12 npl">
            <h2>Company Information</h2>
          </div>
        </div>
        <div class="gaps"></div>
        <div class="content row">
          <div class="col-md-6 npl">
            <h5>Trade Name</h5>
            <p>Eco Lógica S.A. de C.V Registro Federal de Contribuyentes Elo080822927.</p>
            <h5>Business Address</h5>
            <p>Del Bosque 13 Manzana 44B Fracc Bosque de Saloya Bosques de Saloya, C.P.. 86220, Nacajuca, Tabasco, México.</p>
            <h5>Office Phones</h5>
            <p>(993) 266 43 17 Villahermosa, Tabasco.<br> (938) 153 22 70 Cd del Carmen, Campeche.</p>
            <h5>Customer Service</h5>
            <p>9931 60 7190 Villahermosa, Tabasco.<br> 9381 52 4196 Cd del Carmen, Campeche.</p>
            <h5>Constitutive Act</h5>
            <p>No. 89 Vol. 43, Notaría 7 de Cd del Carmen Campeche.</p>
          </div>
          <div class="gaps visible-sm visible-xs"></div>
          <div class="gaps visible-sm visible-xs"></div>
          <div class="col-md-6 npl">
            <h5>STPS Agent Trainer Registry</h5>
            <p>ELO-080822-927-0013.</p>
            <h5>Registration number in the Register of Providers of the State Government of Tabasco</h5>
            <p>PPGET- 5287.</p>
            <h5>Authorization for the preparation of environmental impact studies</h5>
            <p>SERNAPAM/PJC/MIA/-IP-ER-EDA-PPA/020/2009.</p>
            <h5>Email</h5>
            <p>ecológica_services@hotmail.com Villahermosa, Tabasco. <br>ecologica.servicios@hotmail.com Cd del Carmen, Campeche.</p>
          </div>
        </div>
        <div class="gaps"></div>
        <div class="content row">
          <div class="col-md-12 npl">
            <h2>Our Commitment</h2>
            <p>We have a well-defined objective is to provide quality services that meet the needs of our clients, providing clean and safe technologies; Our extensive experience in the services we offer allows us to provide personal attention and flexible
              service, tailored to needs and with quality as the main premise, so we are fully trained to resolve any project. Solve customer needs in compliance with the legal framework of the country, the required quality standards and contractual commitments
              acquired.
            </p>
          </div>
        </div>
        <div class="gaps"></div>
        <div class="content row">
          <div class="col-md-4 npl">
            <h2>Who is Eco Lógica?</h2>
            <p>We are an interdisciplinary group, innovative, concerned about industrial safety and the environment, our activities are the development of projects by reference to the scientific basis for engineering, legal and regulatory.</p>
          </div>
          <div class="gaps visible-sm visible-xs"></div>
          <div class="col-md-4 npl">
            <h2>Quality Policy</h2>
            <p>Each and every one of us in Eco Logic SA de CV is commited to meet the needs of our customers by offering products and services of the highest quality constantly seeking continuous improvement.</p>
          </div>
          <div class="gaps visible-sm visible-xs"></div>
          <div class="gaps visible-sm visible-xs"></div>
          <div class="col-md-4 npr">
            <img alt="" src="../../img/politica.jpg">
          </div>
        </div>
        <div class="gaps"></div>
        <div class="gaps visible-sm visible-xs"></div>
        <div class="content row">
          <div class="col-md-12 npl">
            <h2>Partnerships</h2>
            <ul class="list-style dots">
              <li>Technical Representatives Juárez Autonomous University of Tabasco to project management.</li>
              <li>Representatives Ecotmed Services Company Ltd. which has a comprehensive system of services with accreditation to the EMA as well as the corresponding authorizations of the Federal Attorney for Environmental Protection. Unit Verification:AAPROFEPA066/05Convention.</li>
            </ul>
          </div>
        </div>
        <div class="gaps"></div>
        <div class="content row">
          <div class="col-md-12 npl">
            <div class="panel-group accordion filled" id="general" role="tablist" aria-multiselectable="true">
              <!-- each panel for accordion -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="ques-i1">
                  <h4 class="panel-title">
                              <a class="active collapsed" role="button" data-toggle="collapse" data-parent="#general" href="#ques-ans-i1" aria-expanded="false">
                                  Projects
                                <span class="plus-minus"><span></span></span>
                              </a>
                          </h4>
                </div>
                <div id="ques-ans-i1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ques-i1" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                    <ul class="list-style dots">
                      <li>
                        <p>Characterization studies Soil-Water-Sediment</p>
                      </li>
                      <li>
                        <p>Assessment of environmental damage restoration work of leaks, spills and ecological liabilities in active production of Samaria – LunaNo.415502884</p>
                      </li>
                      <li>
                        <p>Contract No.CSRS-AS-031-2 July 2004 to June 2005 Juarez Autonomous University of Tabasco.</p>
                      </li>
                      <li>
                        <p>Development of characterization studies of water and sediment from the adjacent marsh east side of the measuring slide to determine the percentage of TPH’s oil pollution , Gas Processing Complex of CDGM Nuevo PEMEX. CD. Pemex,
                          Tabasco. (2004/Julio March 2004), No. CONTRACT: 412 604 819CSRS.</p>
                      </li>
                      <li>
                        <p>Evaluation of environmental damage restoration work of leaks, spills and ecological liabilities in active production of Samaria – Sitio Grande No.415502884 Agreement, Contract No. &nbsp;-AS-031-02. 2003, Juarez Autonomous University
                          of Tabasco.</p>
                      </li>
                      <li>
                        <p>Environmental Studies / Accident Prevention Programrisk</p>
                      </li>
                      <li>
                        <p>Study of environmental risk and accident prevention program for the construction and operation of a mini gas station owned by the company Hidrosina Plus SA de CV &nbsp;in the parking lot Soriana shopping center and Plaza Rancheria
                          Paso, Cardenas, Tabasco 2006.</p>
                      </li>
                      <li>
                        <p>study of risk and accident prevention program for the construction and operation of a mini gas station owned by the company Hidrosina Plus SA de CV, in the Soriana shopping center parking, Col. Lopez Mateos, Comalcalco, Tabasco
                          2006.
                        </p>
                      </li>
                      <li>
                        <p>Manifesto environmental impact study of environmental risk and accident prevention program for the “Construction and operation of a magazine for the storage of explosive shot type, used for start-up of oil wells “, in Villahermosa,
                          Tabasco, Mexico 2005 Julio.</p>
                      </li>
                      <li>Study Update Risk Level III Center for Marine Gas Distribution, Ciudad Pemex, Tabasco, &nbsp;2004.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- each panel for accordion -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="ques-i2">
                  <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#general" href="#ques-ans-i2" aria-expanded="false">
                                  Environmental Impact Manifestations
                                <span class="plus-minus"><span></span></span>
                              </a>
                          </h4>
                </div>
                <div id="ques-ans-i2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ques-i2" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                    <ul class="list-style dots">
                      <li>
                        <p>Environmental Impact Statement Private Mode, Industrial Sector Project “Base Facilities Mxm Ofs Peripheral II 14.5 Km Ciudad del Carmen, Campeche Dowell Schlumberger de Mexico, SA de CV.”</p>
                      </li>
                      <li>
                        <p>Environmental Impact Assessment Project ” Construction and operation of a service station for Marketing and Premium Gasoline Pemex Pemex Magna, Diesel, Lubricants Brand Pemex “located at km 0 +100 road Nacajuca-Jalpa de Méndez,
                          mpio. Nacajuca, Tabasco.</p>
                      </li>
                      <li>
                        <p>Protest corresponding to the remodeling and enlargement of the storage volume of xylene plant, located at the base villahermosa Dowell Schlumberger de Mexico SA de CVEnvironmental Impact</p>
                      </li>
                      <li>
                        <p>Technical review of the project “Construction of warehouse area SFO andDos Bocas ¨ tank, Dowell Schlumberger de Mexico SA de CV April 2010.</p>
                      </li>
                      <li>
                        <p>Protest environmental impact of the project “Operation Warehouse SFO and tank area project in Dos Bocas, Tabasco Paradise”. Dowell Schlumberger de Mexico SA de CV April 2010.</p>
                      </li>
                      <li>
                        <p>Regularization of fifteen plants wastewater treatment system administered by the Municipal Water and Sanitation Centre, Tabasco, April 2010.</p>
                      </li>
                      <li>
                        <p>Regularization of fifty-three plants wastewater treatment administered by the State Commission on Water and Sanitation, Government of the State of Tabasco May 2010 contract CEAS-CPSP-002-2010 for the work “DEVELOPMENT OF OPINIONS,
                          EXPERTISE, REPRESENTATIONS, AND / OR EQUIVALENT, LEGAL ADVISORS AND VARIOUS STEPS ON ENVIRONMENTAL.</p>
                      </li>
                      <li>
                        <p>“EnvironmentalImpact Demonstration mode, preventive report project” Establishment of a playground for the development of industrial activities “Rancheria located in Lemon s / n in the town of Paraiso, Tabasco, belonging to the
                          company and Distributor Business Logistics SA de CV., 2009.</p>
                      </li>
                      <li>
                        <p>Protest general embodiment, the “Fractionation White Butterflies” project in federal highway Comalcalco Rancheria-Paradise on East First Section in the town of Paraiso, Tabasco, Real Estate Development Company for environmental
                          impact Housing SA de CV (DIHASA), 2009project..;</p>
                      </li>
                      <li>
                        <p>Manifestation of Environmental Impact Report preventive modality, facilities &amp; Controls Energy Company of Mexico, SA de CV in the town of Paraiso, Tabasco 2009</p>
                      </li>
                      <li>
                        <p>Protest environmental impact of the &nbsp;“Stage urban image Villa Tapijulapa coastal tourist walkway River Amatán” Tacotalpa, Tabasco 2008.</p>
                      </li>
                      <li>
                        <p>Protest environmental impact particular form of “Splitting the Jewels” project in the town of Nacajuca, Tabasco, Mexico 2008.</p>
                      </li>
                      <li>
                        <p>Protest environmental impact of the project ” Building a welding shop for industrial jobs and business “, in the municipality of Cadereyta Jiménez Nuevo Leon, Mexico 2008.</p>
                      </li>
                      <li>
                        <p>Study of urban impact of the project” Construction of a service station for the sale of gasoline and Pemex Pemex Premium Magna, diesel, oils and Pemex-brand Mexlub “Villahermosa, Tabasco, Mexico 2008greases</p>
                      </li>
                      <li>
                        <p>Manifesto draft environmental impact of roads / road infrastructure Tapijulapa-.Oxolotan, length 17 + 000 km. Tacotalpa Municipality, Tabasco 2005km”..</p>
                      </li>
                      <li>
                        <p>Manifesto environmental impact project “Rehabilitation and extension of state road Ciudad Pemex – Jonuta – El Monte Alegre, length 8 + 700 &nbsp;Towns and Jonuta Macuspana, Tabasco 2004.</p>
                      </li>
                      <li>
                        <p>Manifesto environmental impact project “Studies and geometric projects to improve the horizontal and vertical alignment of highway conflict points Villahermosa Tuxtla length of 0 + 990 kms”. Municipality of Tuxtla Gutierrez, Chiapas,
                          Mexico 2004.</p>
                      </li>
                      <li>
                        <p>Manifesto environmental impact project “Harnessing commercial fish species by system” Tapo “in Trinidad lagoon”, municipality of Emiliano Zapata, Tabasco, Mexico 2004.</p>
                      </li>
                      <li>Manifesto particular embodiment environmental impact for the “Cooperative Aquaculture Technology Tabasco SC de RL” project located in Coronel Traconis Rancheria, s / n Center Township, Tabasco 2004.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- each panel for accordion -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="ques-i3">
                  <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#general" href="#ques-ans-i3" aria-expanded="false">
                                  Projects Developed
                                <span class="plus-minus"><span></span></span>
                              </a>
                          </h4>
                </div>
                <div id="ques-ans-i3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ques-i3" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                    <ul class="list-style dots">
                      <li>
                        <p>Cleaning three-phase separator 82 m3 in Jujo Bellota, Tabasco Huimanguillo for the company ABENGOA MEXICO SA DE CV, March 2010.</p>
                      </li>
                      <li>
                        <p>Evaluation of the lighting conditions in offices and storage areas Company Representations and Distributions EVYA SA de CV located in the Dos Bocas “API according to the Official Mexican Standard , NOM-025-STPS-1999. agosto/2009.</p>
                      </li>
                      <li>
                        <p>Monitoring noise levels in the facilities Company Representations and Distributions EVYA SA de CV, in compliance with the Official Mexican Standard NOM-011-STPS-2001, agosto/2009.</p>
                      </li>
                      <li>
                        <p>Evaluation of electrical resistance and voltage current offices and storage areas Company Representations and Distributions EVYA SA de CV located in the Dos Bocas “API according to the Mexican Official Standard NOM-022-STPS-1999
                          and NOM-029-STPS- 2005 agosto/2009.</p>
                      </li>
                      <li>
                        <p>Courses “Operation of gas detectors”, “Armed scaffolding” and “Basic First Aid Course” with a duration of 8 hours each, the company staff TURBOMEX SA de CV, in the city of Paradise Tabasco, on 22, 23 and 24 May 2009.</p>
                      </li>
                      <li>
                        <p>Implementation of safety management system and environmental protection Multimodal Freight Company SA de CV pursuant to the requirements set out in Annex “S” of Pemex Exploration and Production, in the city of Paradise Tabasco.Year
                          2009</p>
                      </li>
                      <li>
                        <p>AdvisedMultimodal Freight Company SA de CV and care audits by Pemex in the areas of Industrial Safety and Environmental Protection; Paradise City Tabasco Year 2009</p>
                      </li>
                      <li>
                        <p>Integration.technical report “Restoring soil in the installations of the Consortium of Architecture and Ecology, SA de CV Rancheria Plantain 1ra. Section Cunduacán, Tabasco “, 2008.</p>
                      </li>
                      <li>
                        <p>Determining species composition in a strip between the road and the Laguna Nichupte and Borjórquez, to expand the boulevard Kukulcan in Cancun Quintana Roo Mexico, 2007.</p>
                      </li>
                      <li>
                        <p>Evaluation of environmental damage caused to determine the impact fire and dispersion of hydrocarbons. New Gas Processing Complex of CDGM PEMEX. CD. Pemex, Tabasco CONTRACT: 412604819, 2004NOM-EM-138-ECOL-2002..</p>
                      </li>
                      <li>
                        <p>Technical Report draft to contaminated soil bioremediation dispersion of hydrocarbons in the areas surrounding the skate measurement CDGM In accordance with &nbsp;2004 Complex.</p>
                      </li>
                      <li>Sampling and analysis to quantitatively determine the presence of mercury in the feed gas to the cryogenic plant 2 Gas Processing Ciudad PEMEX (August / 2004).</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- each panel for accordion -->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="ques-i4">
                  <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#general" href="#ques-ans-i4" aria-expanded="false">
                                  Clients
                                <span class="plus-minus"><span></span></span>
                              </a>

                          </h4>
                </div>
                <div id="ques-ans-i4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ques-i4" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                    <ul class="list-style dots">
                      <li>
                        <p>ABENGOA MEXICO SA DE CV</p>
                      </li>
                      <li>
                        <p>ACC ENGINEERING AND SPECIALIZED SERVICES SALTD</p>
                      </li>
                      <li>
                        <p>MEXICAN AUTOLTD COMPREHENSIVE LINE</p>
                      </li>
                      <li>
                        <p>INTERMODAL FREIGHT LTD</p>
                      </li>
                      <li>
                        <p>CONSTRUCTION CG, SA DE CV</p>
                      </li>
                      <li>
                        <p>STATE COMMISSION ON WATER AND SANITATION (CEAS).</p>
                      </li>
                      <li>
                        <p>DISTRIBUTOR AND BUSINESS LOGISTICS LTD.</p>
                      </li>
                      <li>
                        <p>CHINA OILFIELD SERVICES LIMITED (COSL)</p>
                      </li>
                      <li>
                        <p>HOUSING ESTATE DEVELOPMENT CORPORATION CV (DIHASA).</p>
                      </li>
                      <li>
                        <p>DOWELL SCHLUMBERGER DE MEXICO SA DE CV</p>
                      </li>
                      <li>
                        <p>MEXICO ENERGY &amp; CONTROLS OFLTD</p>
                      </li>
                      <li>
                        <p>ENGINEERINGAPPLIED ENVIRONMENTAL SERVICES SA DE SV (INASA).</p>
                      </li>
                      <li>
                        <p>JC CONSULTING LTD</p>
                      </li>
                      <li>
                        <p>LTD OCEANOGRAPHY</p>
                      </li>
                      <li>
                        <p>MI DRILLING FLUIDS OF MEXICO SA DE CV</p>
                      </li>
                      <li>
                        <p>PRAXAIR DE MEXICO, S. DE RL DE CV</p>
                      </li>
                      <li>
                        <p>EVYA REPRESENTATIONS AND DISTRIBUTIONS LTD</p>
                      </li>
                      <li>
                        <p>SCHLUMBERGER OFFSHORE NV MEXICO</p>
                      </li>
                      <li>
                        <p>SA DE CV SECAE</p>
                      </li>
                      <li>
                        <p>PETROTEC SERVICE LTD</p>
                      </li>
                      <li>
                        <p>WATER AND SANITATION SYSTEM TOWN CENTER, TABASCO.</p>
                      </li>
                      <li>
                        <p>SAFETY AND ENVIRONMENT LTD</p>
                      </li>
                      <li>
                        <p>WATER SANITATION SYSTEM (SAS )</p>
                      </li>
                      <li>
                        <p>TURBOMEX SA DE CV</p>
                      </li>
                      <li>JUAREZ AUTONOMOUS UNIVERSITY OF TABASCO</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- end each panel -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End content -->
    <include src='../../partials/footer-en.html'></include>
    <include src='../../partials/copyright-en.html'></include>
  </block>
</extends>
