<extends src='../../layout.html'>
  <block name='content'>
    <include src='../../partials/header-en.html'></include>
    <!-- Contents -->
    <div class="section section-contents section-pad">
      <div class="container">
        <div class="content row">

          <div class="row">
            <div class="col-md-8">

              <h1>Partners</h1>

              <p>Ecological has agreements with national and international companies to provide world-class services.
Our partners share our commitment to excellence and customer satisfaction.</p>

              <div class="client-logo row space-top-md">
                <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                  <img alt="" src="../../img/intelex.jpg">
                </div>
                <div class="col-sm-8 col-xs-12">
                  <p>Since 1992, Intelex Technologies Inc. has been a leading global provider of administrative software for EHS. Intelex has over 850 customers worldwide.</p>
                  <a href="http://www.intelex.com">www.intelex.com</a>
                </div>
              </div>

              <div class="client-logo row space-top-md">
                <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                  <img alt="" src="../../img/ecotmed.jpg">
                </div>
                <div class="col-sm-8 col-xs-12">
                  <p>Provides services like verification of pressure vessels, calibration of equipment, environmental audits, water treatment and non-destructive testing.</p>
                  <a href="http://www.grupoecotmed.com/">www.grupoecotmed.com</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Section -->
    <include src='../../partials/footer-en.html'></include>
    <include src='../../partials/copyright-en.html'></include>
  </block>
</extends>
