<extends src='../../layout.html'>
  <block name='content'>
    <include src='../../partials/header-en.html'></include>
    <!-- Content -->
    <div class="section section-content section-pad">
      <div class="container">
        <div class="content row">

          <div class="row">
            <div class="col-md-12">
              <h2 class="heading">Courses</h2>
              <div class="table-responsive">
                <table border="0" cellspacing="0" cellpadding="0" class="table table-striped">
                  <thead>
                    <tr>
                      <th>NAME</th>
                      <th>DURATION</th>
                      <th>CERTIFIED BY</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>SIGNATURE OF WORK PERMIT RISK</td>
                      <td>16 HRS</td>
                      <td>
                        <p>PEP</p>
                      </td>
                    </tr>
                    <tr>
                      <td>COURSE BASIC SAFETY AND HEALTH (RIG PASS)</td>
                      <td>16 HRS</td>
                      <td>
                        <p>IADC</p>
                      </td>
                    </tr>
                    <tr>
                      <td>FIRST AID CERTIFICATE</td>
                      <td>8 HRS</td>
                      <td>NATIONAL SAFETY COUNCIL</td>
                    </tr>
                    <tr>
                      <td>WORK ATMOSPHERE IN AREAS WITH H2S</td>
                      <td>8 HRS</td>
                      <td>
                        <p>STPS</p>
                      </td>
                    </tr>
                    <tr>
                      <td>DEFENSIVE DRIVING</td>
                      <td>8 HRS</td>
                      <td>NATIONAL SAFETY COUNCIL</td>
                    </tr>
                    <tr>
                      <td>WORKING AT HEIGHTS ADVANCED</td>
                      <td>6 HRS</td>
                      <td>
                        <p>STPS</p>
                      </td>
                    </tr>
                    <tr>
                      <td>TECHNICAL GAS VERIFICATION</td>
                      <td>8 HRS</td>
                      <td>
                        <p>PEP</p>
                      </td>
                    </tr>
                    <tr>
                      <td>HANDLING OF CHEMICALS AND HAZARDOUS MATERIALS LEVEL 2</td>
                      <td>8 HRS</td>
                      <td>
                        <p>STPS</p>
                      </td>
                    </tr>
                    <tr>
                      <td>MANUAL HANDLING CHARGES</td>
                      <td>8 HRS</td>
                      <td>
                        <p>STPS</p>
                      </td>
                    </tr>
                    <tr>
                      <td>ANALYSIS AND RISK ASSESSMENT</td>
                      <td>8 HRS</td>
                      <td>NATIONAL SAFETY COUNCIL</td>
                    </tr>
                    <tr>
                      <td>CAP WELL (BASICS)</td>
                      <td>16 HRS</td>
                      <td>
                        <p>IADC</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Content -->
    <include src='../../partials/cta-catalog-en.html'></include>
    <include src='../../partials/footer-en.html'></include>
    <include src='../../partials/copyright-en.html'></include>
  </block>
</extends>
