<extends src='../../layout.html'>
  <block name='content'>
    <include src='../../partials/header-en.html'></include>
    <!-- Content -->
    <div class="section section-content section-pad">
      <div class="container">
        <div class="content row">

          <div class="row">
            <div class="col-md-12 col-lg-8">
              <h2 class="heading">Environmental Protection</h2>
              <ul class="list-style dots">
                <li>Collection and transportation of hazardous and non-hazardous waste.</li>
                <li>Determination of the spatial distribution and concentration of pollutants in soil, ground and / or sediment and water leakage of hydrocarbons, based on NOM-138-SEMARNAT/SS-2003 and NOM-021-SEMARNAT-2000. (Characterization studies).</li>
                <li>Remediation of soils contaminated by hydrocarbons.</li>
                <li>Attention to environmental contingencies in water and soil.</li>
                <li>Services technical support in the development, monitoring and implementation process management Management Systems Industrial Safety and Environmental Protection.</li>
                <li>Services training; through courses, workshops and learning materials according to the specific needs of our customers (Registration number with the Ministry of Labor and Social STPS ELO-080822-927-0013).</li>
                <li>Development impact studies, environmental risk, prevention programs accidents and environmental Surveyors.</li>
                <li>Marketing, transportation, storage, temporary storage, refuse, recycling waste such as waste oil, plastics, paper, wood, metals, and other organic residues susceptible to be exploited.</li>
                <li>Consultancy, development of studies and projects with research, development, conservation, protection, commercialization and rescue flora, fauna and natural resources.</li>
                <li>Designing and implementing reforestation works to control erosion in pipeline corridors and adjacency of facilities, to protect the physical integrity of them (shelterbelts).</li>
                <li>Plant design and installation of wastewater treatment.</li>
                <li>Consulting and advisory services to the industry in general.</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Content -->
    <include src='../../partials/footer-en.html'></include>
    <include src='../../partials/copyright-en.html'></include>
  </block>
</extends>
