<extends src='../../layout.html'>
  <block name='content'>
    <include src='../../partials/header-en.html'></include>
    <!-- Content -->
    <div class="section section-content section-pad">
      <div class="container">
        <div class="content row">

          <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 pull-right res-m-bttm">
              <a href="solution-single.html"><img src="../../img/costa-afuera-1.jpg" alt=""></a>
            </div>
            <div class="col-md-6 col-sm-6">
              <h2 class="heading">Offshore Services</h2>
              <p class="lead">The offshore services we provide to our customers are performed professionally and according to their individual needs.</p>
              <p>List of offshore services:</p>
              <ul class="list-style dots">
                <li>Risk atlas.</li>
                <li>Risk analysis process.</li>
                <li>Environmental risk study level 2.</li>
                <li>Ambient audit (clean industry).</li>
                <li>Emergency response plan.</li>
                <li>Management for verification of NOM 028 STPS 2005.</li>
                <li>Accident prevention program.</li>
                <li>Plan environmental contingency.</li>
                <li>Level of fire risk NOM 02 STPS 2010.</li>
                <li>Comprehensive action plan.</li>
                <li>Step for discharge and wastewater reuse.</li>
                <li>PND and RSP verification.</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Content -->

    <include src='../../partials/footer-en.html'></include>
    <include src='../../partials/copyright-en.html'></include>
  </block>
</extends>
