<extends src='../../layout.html'>
  <block name='content'>
    <include src='../../partials/header-en.html'></include>
    <!-- Content -->
    <div class="section section-content section-pad">
      <div class="container">
        <div class="content row">

          <div class="row">
            <div class="col-md-12">
              <h2 class="heading">Other Services</h2>
              <p class="lead">These services complement our professional offering</p>
              <ul class="list-style dots">
                <li>Situational Diagnosis (RFSHMAT).</li>
                <li>Constitution of the Committees of Safety and Health (NOM-019-STPS-2004).</li>
                <li>Development of Manuals and Procedures and Safety.</li>
                <li>Specific / Domestic Civil Protection Program.</li>
                <li>Coordination for drills.</li>
                <li>Development and implementation of Emergency Response Plans PRE and PRE-H.</li>
                <li>Annex S Audits and program development to Annex DS, social Diagnostics.</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Content -->
    <include src='../../partials/cta-catalog-en.html'></include>
    <include src='../../partials/footer-en.html'></include>
    <include src='../../partials/copyright-en.html'></include>
  </block>
</extends>
