<extends src='../../layout.html'>
  <block name='content'>
    <include src='../../partials/header-en.html'></include>
    <!-- Content -->
    <div class="section section-content section-pad">
      <div class="container">
        <div class="content row">

          <div class="row">
            <div class="col-md-12">
              <h2 class="heading">STPS Studies</h2>
              <div class="table-responsive">
                <table border="0" cellspacing="0" cellpadding="0" class="table table-striped">
                  <thead>
                    <tr>
                      <th>CONCEPT</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Study of environmental noise according to <strong>NOM-011-SPTS-2001</strong></td>
                    </tr>
                    <tr>
                      <td>Lighting study according to <strong>NOM-025-STPS</strong></td>
                    </tr>
                    <tr>
                      <td>Physical Land study according to <strong>NOM-022-STPS-2008</strong></td>
                    </tr>
                    <tr>
                      <td>Study of welding fumes according to <strong>NOM-027-STPS-2008</strong></td>
                    </tr>
                    <tr>
                      <td>Added test and subject to pressure vessel according to <strong>NOM-020-STPS-2002</strong></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="gaps"></div>
              <div class="gaps"></div>
              <div class="gaps"></div>
              <div class="gaps"></div>
              <div class="gaps"></div>
              <div class="gaps"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Content -->
    <include src='../../partials/footer-en.html'></include>
    <include src='../../partials/copyright-en.html'></include>
  </block>
</extends>
