<extends src='../../layout.html'>
  <block name='content'>
    <include src='../../partials/header-en.html'></include>
    <!-- Content -->
    <div class="section section-content section-pad">
      <div class="container">
        <div class="content row">
          <div class="row">
            <div class="col-md-12 col-lg-8 res-m-bttm">
              <h2 class="heading">HSE Integrated Management System</h2>
              <p>To get real value from your data, you need an accurate, comprehensive and real-time view of your business.</p>
              <p>The Intelex Integrated Management Software System lets you achieve that view easily by integrating the requirements of multiple management systems into one centralized, web-based system.</p>
            </div>
          </div>
          <div class="gaps visible-lg"></div>
          <div class="gaps visible-lg"></div>
          <div class="gaps visible-lg"></div>
          <div class="row">
            <div class="col-md-6 col-lg-10 col-sm-12 res-m-bttm">
              <div class="tab-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab1" data-toggle="tab">Overview</a></li>
                  <li><a href="#tab2" data-toggle="tab">Benefits</a></li>
                  <li><a href="#tab3" data-toggle="tab">Compliance</a></li>
                  <li><a href="#tab4" data-toggle="tab">Features</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane fade in active" id="tab1">
                    <h4>Overview</h4>
                    <p>The Intelex Integrated Management Software System consists of a flexible set of web-based software applications that seamlessly connect to manage all aspects of your organization’s environmental, health and safety, quality (EHSQ) and
                      business processes and data.</p>
                    <p>Easily manage, track and report all of your key metrics in real-time, comply with standards such as ISO 9001, ISO 14001 and OHSAS 18001, and drive continuous improvement across your business with this user-friendly software system.</p>
                    <p>The Intelex Integrated Management Software System contains the following software applications:</p>
                    <div class="table-responsive">
                      <table border="0" cellspacing="0" cellpadding="0" class="table table-striped">
                        <tbody>
                          <tr>
                            <td>
                              <p align="CENTER"><span style="color: #8ebb3d;"><b>Documents &amp; Training</b></span></p>
                            </td>
                            <td>Document Control</td>
                            <td>Records Management</td>
                            <td>Training Management</td>
                            <td>Qualifications Management</td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>
                              <p align="CENTER"><span style="color: #8ebb3d;"><b>Audits &amp; Inspections</b></span></p>
                            </td>
                            <td>Audits Management</td>
                            <td>NCRs &amp; CAPA</td>
                            <td>Management Review</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>
                              <p align="CENTER"><span style="color: #8ebb3d;"><b>Incidents &amp; Risk Management</b></span></p>
                            </td>
                            <td>Safety Incidents</td>
                            <td>Risk Management</td>
                            <td>Work Observations</td>
                            <td>Safety Objectives</td>
                            <td>Safety Policy</td>
                            <td>Safety Meetings</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>
                              <p align="CENTER"><span style="color: #8ebb3d;"><b>Compliance &amp; Operations</b></span></p>
                            </td>
                            <td>Permits Management</td>
                            <td>License Management</td>
                            <td>Monitoring &amp; Measurement</td>
                            <td>Communications Management</td>
                            <td>Operational Control</td>
                            <td>Emergency Response</td>
                            <td>Legal Requirements</td>
                          </tr>
                          <tr>
                            <td>
                              <p align="CENTER"><span style="color: #8ebb3d;"><b>Quality &amp; Supplier Management</b></span></p>
                            </td>
                            <td>Product Defects</td>
                            <td>Supplier NCRs</td>
                            <td>Quality Objectives</td>
                            <td>Customer Management</td>
                            <td>Customer Complaints</td>
                            <td>Supplier Management</td>
                            <td>Quality Policy</td>
                          </tr>
                          <tr>
                            <td>
                              <p align="CENTER"><span style="color: #8ebb3d;"><b>Environmental &amp; Sustainability Management</b></span></p>
                            </td>
                            <td>Environmental Incidents</td>
                            <td>Environmental Aspects</td>
                            <td>Environmental Objectives</td>
                            <td>Environmental Policy</td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <p>* Applications can also be purchased individually and assembled to create an IntegratedManagement Software System unique to your organization’s needs.</p>
                    <h3>Software Features</h3>
                    <p>Every Intelex software application includes a complete set of built-in tools and features to help you effectively manage your organization’s processes and data.</p>
                    <div class="table-responsive">
                      <table border="0" cellspacing="0" cellpadding="0" class="table table-striped">
                        <thead>
                          <tr>
                            <th><span style="color: #8ebb3d;"><strong>Configuration</strong></span></th>
                            <th><span style="color: #8ebb3d;"><strong>Reporting</strong></span></th>
                            <th><span style="color: #8ebb3d;"><strong>Administration</strong></span></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Configurable Apps</td>
                            <td>Dashboards &amp; Scorecards</td>
                            <td>Roles &amp; Security</td>
                          </tr>
                          <tr>
                            <td>Configurable Workflow</td>
                            <td>Multiple Reporting Formats</td>
                            <td>Multiple Location Management</td>
                          </tr>
                          <tr>
                            <td>Custom Fields &amp; Forms</td>
                            <td>Notifications</td>
                            <td>Mobile Access</td>
                          </tr>
                          <tr>
                            <td>Formulas &amp; Calculations</td>
                            <td>Custom Calendars</td>
                            <td>Culture, Religion &amp; Translation</td>
                          </tr>
                          <tr>
                            <td>API &amp; Integration</td>
                            <td>Data Import &amp; Export</td>
                            <td>Task Management</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tab2">
                    <h4>Benefits</h4>
                    <p>The Intelex Integrated Management Software System will allow your organization to:</p>
                    <h5>Centralize all your EHS, quality and business performance data in one online location.</h5>
                    <p> Store, track, report and manage all of your organization’s performance data within one centralized, web-based and secure SSAE 16 hosted system.</p>
                    <h5>Reduce duplication of effort and lower management system maintenance costs. </h5>
                    <p> Employees working within one singular system to access, report and manage data reduces silos of information and costs associated with managing multiple systems.</p>
                    <h5>Streamline your critical processes and improve business performance.  </h5>
                    <p> Automated task assignment, escalating email notifications and configurable workflow drive task completion and reduce time, resources and costs required to complete tasks and projects.</p>
                    <h5>Gain 100% visibility to evaluate organizational performance.</h5>
                    <p> Real-time reports and performance dashboards display your critical metrics and key performance indicators (KPIs) facilitating complete EHS, quality and business performance visibility at a glance.</p>
                    <h5>Ensure and maintain compliance with standards and regulations.</h5>
                    <p> Exceed document control, auditing, training management, permits management, communications management, monitoring and measurement, management review, emergency response, operational control, and nonconformance, corrective and preventive action requirements for the ISO 9001, ISO 14001 and OHSAS 18001 standards.</p>
                    <h5>Ensure year round audit preparedness.</h5>
                    <p> Maintain a historical record of all the data within your system from documents to training to nonconformances and ensure maximum preparedness for internal, external and compliance audits.</p>

                  </div>
                  <div class="tab-pane fade" id="tab3">
                    <h4>Compliance</h4>
                    <h5>Safety Compliance</h5>
                    <p>Whether it is common management standards such as OHSAS 18001, or compliance with regulatory requirements such as OSHA, WCB, RIDDOR and others, companies are frequently required to keep extensive and detailed accounts of their environmental, health and safety information.</p>
                    <h5> OSHA, WCB and RIDDOR Compliance</h5>
                    <p>Intelex’s Business Management software system streamlines the collection, tracking and reporting of your workplace health and safety information and accident, incident and injury reporting. All of the data is input into a centralized database and can be merged into the  reporting forms required by different regulatory bodies. If you report to regulatory bodies other than OSHA, WCB and RIDDOR, specialized merge templates are easily created to accomodate your organization’s specific needs.</p>
                    <h5>OHSAS 18001</h5>
                    <p>Many organizations worldwide adhere to the management practices outlined in the OHSAS 18001 standard. Following these standards helps reduce employee risk, improve the effectiveness of Occupational Health and Safety management, and demonstrate diligence in cultivating a strong safety culture.</p>
                    <p>The components of the Intelex Business Management software system speak directly to requirements within the OHSAS 18001. Specifically:</p>
                    <ul class="list-style dots">
                      <li>General Occupational Health and Safety Management </li>
                      <li>Safety Policy</li>
                      <li>Planning</li>
                      <li>Safety Objectives</li>
                      <li>Safety Audit Management </li>
                      <li>Communication Management </li>
                      <li>Training Management </li>
                      <li>Documentation Storage and Revisioning </li>
                      <li>Injury and Incident Reporting </li>
                      <li>Monitoring and Measurement</li>
                    </ul>
                    <h5>Quality Compliance</h5>
                    <p>The ISO 9001 standard sets out the criteria for a quality management system and is based on a number of quality management principles including a strong customer focus, the motivation and implication of top management, the process approach and continual improvement. It can be used by any organization, large or small, regardless of its field of activity and is implemented by over one million companies and organizations in over 170 countries.</p>
                    <p>The Intelex Business Management software system has been specifically designed to allign with each component of the ISO 9001 standard and to facilitate and maintain seamless compliance with it. Specifically:</p>
                    <ul class="list-style dots">
                      <li>Section 5.3 – Quality Policy </li>
                      <li>Section 5.4 – Planning </li>
                      <li>Section 4.0 – Quality Management System </li>
                      <li>Section 5.4.1 -Quality Objectives </li>
                      <li>Section 5.5 – Responsibility, Authority and Communication</li>
                      <li>Section 6.2.2 – Compentancy, Awareness and Training </li>
                      <li>Section 7.2.3 – Customer Communications </li>
                      <li>Section 4.2 – Document Requirements </li>
                      <li>Section 4.2.3 – Document Control </li>
                      <li>Section 8.0 – Measurement, Analysis and Improvement </li>
                      <li>Section 8.5.2 – Corrective Action </li>
                      <li>Section 8.5.3 – Preventive Action </li>
                      <li>Section 8.2 – Monitoring and Measurement </li>
                      <li>Section 8.3 – Control of Nonconformity </li>
                      <li>Section 8.4 – Analysis of Data </li>
                      <li>Section 8.2.2 – Internal Audit </li>
                      <li>Section 5.6 – Management Review</li>
                    </ul>
                  </div>
                  <div class="tab-pane fade" id="tab4">
                    <h4>Features</h4>
                    <p>All Intelex applications share a powerful set of capabilities to ensure the software meets your specific business requirements. Whether you want to leverage the existing best practice application design or make modifications to forms, reports and workflows to suit your own business needs, the system features offer you both the flexibility and reliability you require.</p>
                    <ul class="list-style dots">
                      <li>Standard and configurable reporting.</li>
                      <li>Standard and configurable forms and workflows.</li>
                      <li>Task management and notifications.</li>
                      <li>Dashboards and toolbars.</li>
                      <li>Exceptional levels of data security.</li>
                      <li>Configurable security for individual users or groups of users.</li>
                      <li>Cultures functionality that comes with eight languages built in.</li>
                      <li>Complete mobile functionality and cross browser compatibility.</li>
                      <li>User friendly calculation wizard.</li>
                      <li>Collaborative message center.</li>
                      <li>Access to our client community and learning center, Intelex-Exchange.</li>
                      <li>Easy integration with existing systems such as Peoplesoft® and SAP® as well as with Active Directory or your internal Microsoft Exchange Server®.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Content -->
    <include src='../../partials/footer-en.html'></include>
    <include src='../../partials/copyright-en.html'></include>
  </block>
</extends>
