<extends src='../../layout.html'>
  <block name='content'>
    <include src='../../partials/header-en.html'></include>
    <!-- Content -->
    <div class="section section-content section-pad">
      <div class="container">
        <div class="content row">
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h1>Led Lighting</h1>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-8 res-m-bttm-sm">
              <h2>Save on electricity consumption up to 80%</h2>
              <p>LED lighting has many advantages over traditional incandescent lighting. We offer industrial LED lamps, LED tube lights, bulbs of high industrial grade, high power reflectors and street lighting luminaires. We have the lighting solution
                you need.</p>
            </div>
            <div class="col-md-4">
              <img src="../../img/ahorro-con-led.jpg" alt="">
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h4 class="text-center">Take advantage of our promotion of 6 and 18 months without interest!</h4>
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h4>Benefits of LED lighting:</h4>
              <ul class="list-style dots">
                <li>It doesn’t generate heat.</li>
                <li>It doesn’t pollute.</li>
                <li>Lifetime exceeding 50,000 hours.</li>
                <li>You don’t have to buy spare parts.</li>
                <li>Maintenance free.</li>
                <li>It doesn’t use ballast.</li>
                <li>Highly profitable investment.</li>
                <li>For any lighting installed, there is one in LED to replace it.</li>
              </ul>
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-4 res-m-bttm-sm">
              <h4>Industrial Grade Urban Spotlight</h4>
              <p>Our ​​line of high power LED lights is ideal for:</p>
              <ul class="list-style dots">
                <li>Industrial Buildings.</li>
                <li>Warehouses.</li>
                <li>Factories.</li>
                <li>Shops.</li>
                <li>Car Agencies.</li>
                <li>Sports Clubs.</li>
              </ul>
            </div>
            <div class="col-md-8">
              <img src="../../img/foco-alto-grado-industrial-urbano.jpg" alt="">
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h6 class="text-center">IDEAL TO REPLACE OLD STREET LIGHTS LAMPS AND BELLS FOR PUBLIC LIGHTING</h6>
              <p class="text-center">Recoverable investment in less than 2 years!</p>
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h5>Applications</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/foco-alto-grado-aplicacion-1.jpg" alt="">
            </div>
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/foco-alto-grado-aplicacion-2.jpg" alt="">
            </div>
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/foco-alto-grado-aplicacion-3.jpg" alt="">
            </div>
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/foco-alto-grado-aplicacion-4.jpg" alt="">
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h5>Technical Specifications</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <div class="table-responsive">
                <table border="0" cellspacing="0" cellpadding="0" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Model</th>
                      <th>ECOHBL-15W</th>
                      <th>ECOHBL-40W</th>
                      <th>ECOHBL-60W</th>
                      <th>ECOHBL-90W FLAT PANEL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Consumption</td>
                      <td>15W</td>
                      <td>40W</td>
                      <td>60W</td>
                      <td>90W</td>
                    </tr>
                    <tr>
                      <td>Equal</td>
                      <td>120W Aditivos Metálicos</td>
                      <td>200W Aditivos Metálicos</td>
                      <td>275-300W Aditivos Metálicos</td>
                      <td>400W Aditivos Metálicos</td>
                    </tr>
                    <tr>
                      <td>Voltage</td>
                      <td>100-240W</td>
                      <td>100-240W</td>
                      <td>100-240W</td>
                      <td>100-240W</td>
                    </tr>
                    <tr>
                      <td>Base</td>
                      <td>E27,E40</td>
                      <td>E27,E40</td>
                      <td>E27,E40</td>
                      <td>E27,E40</td>
                    </tr>
                    <tr>
                      <td>Dimensions</td>
                      <td>73mm x160mm</td>
                      <td>90mm x258mm</td>
                      <td>90mm x278mm</td>
                      <td>310mm x220mm</td>
                    </tr>
                    <tr>
                      <td>Shelf Life</td>
                      <td>+50,000 hrs</td>
                      <td>+50,000 hrs</td>
                      <td>+50,000 hrs</td>
                      <td>+50,000 hrs</td>
                    </tr>
                    <tr>
                      <td>Luminous flux (lumens)</td>
                      <td>2,000 Lm</td>
                      <td>4,500 Lm</td>
                      <td>6,000 Lm</td>
                      <td>11,000 Lm</td>
                    </tr>
                    <tr>
                      <td>Lighting Angle</td>
                      <td>360°</td>
                      <td>360°</td>
                      <td>360°</td>
                      <td>360°</td>
                    </tr>
                    <tr>
                      <td>Recommended Height</td>
                      <td>3 – 4 Mts.</td>
                      <td>5 Mts.</td>
                      <td>6 Mts.</td>
                      <td>6 – 8 Mts.</td>
                    </tr>
                    <tr>
                      <td>LED</td>
                      <td>SMD</td>
                      <td>SMD</td>
                      <td>SMD</td>
                      <td>ECOVA</td>
                    </tr>
                    <tr>
                      <td>Quality Certificate</td>
                      <td>CE, ROHS</td>
                      <td>CE, ROHS</td>
                      <td>CE, ROHS</td>
                      <td>CE, ROHS</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <hr>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-4 res-m-bttm-sm">
              <h4>Led Tube</h4>
              <p>Highly profitable investment!</p>
              <p>LED tubes E-10 to replace fluorescent tubes</p>
              <p>Ideal for:</p>
              <ul class="list-style dots">
                <li>Offices.</li>
                <li>Business.</li>
                <li>Schools.</li>
                <li>Shops.</li>
                <li>etc.</li>
              </ul>
              <p>Benefits:</p>
              <ul class="list-style dots">
                <li>Save 50-60% on utility costs.</li>
                <li>Low maintenance.</li>
                <li>Constant lighting, no flicker.</li>
                <li>Immediately on.</li>
                <li>Generates no heat or contamination.</li>
                <li>Effective for more than 50,000 hrs.</li>
                <li>Uses no ballast.</li>
                <li>It doesn’t melt.</li>
              </ul>
            </div>
            <div class="col-md-8">
              <img src="../../img/foco-alto-grado-industrial-urbano.jpg" alt="">
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h6 class="text-center">LED tubes can replace any fluorescent tube with a lower consumption, so that achieve significant savings in the bill of electric consumption.</h6>
              <p class="text-center">We have traditional measures 60cm, 120cm and 150cm to replace fluorescent tubes of all powers.</p>
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h5>Applications</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/lampara-de-tubo-4.jpg" alt="">
            </div>
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/lampara-de-tubo-2.jpg" alt="">
            </div>
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/lampara-de-tubo-3.jpg" alt="">
            </div>
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/lampara-de-tubo-1.jpg" alt="">
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h5>Technical Specifications</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <div class="table-responsive">
                <table border="0" cellspacing="0" cellpadding="0" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Model</th>
                      <th>LED-T8-60-11W</th>
                      <th>LED-T8-120-15W</th>
                      <th>LED-T8-150-28W</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Power</td>
                      <td>11W</td>
                      <td>15W</td>
                      <td>28W</td>
                    </tr>
                    <tr>
                      <td>Equal</td>
                      <td>25-30W</td>
                      <td>32-42W</td>
                      <td>75W</td>
                    </tr>
                    <tr>
                      <td>Shelf Life</td>
                      <td>+50,000 hrs</td>
                      <td>+50,000 hrs</td>
                      <td>+50,000 hrs</td>
                    </tr>
                    <tr>
                      <td>Voltage</td>
                      <td>100-240</td>
                      <td>100-240</td>
                      <td>100-240</td>
                    </tr>
                    <tr>
                      <td>Luminous Flux</td>
                      <td>800 Lm</td>
                      <td>1250 Lm</td>
                      <td>2400 Lm</td>
                    </tr>
                    <tr>
                      <td>Dimensions</td>
                      <td>60cm x 3cm</td>
                      <td>120cm x 3cm</td>
                      <td>150cm x 3cm</td>
                    </tr>
                    <tr>
                      <td>Color</td>
                      <td>Pure White/Warm White</td>
                      <td>Pure White/Warm White</td>
                      <td>Pure White/Warm White</td>
                    </tr>
                    <tr>
                      <td>Angle</td>
                      <td>120°</td>
                      <td>120°</td>
                      <td>120°</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h5>Installation</h5>
              <p>It eliminates the use of ballasts, the representing additional savings because the ballasts of fluorescent lights constantly burn due to changes in voltage.</p>
            </div>
          </div>
          <hr>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-4 res-m-bttm-sm">
              <h4>Industrial Bell Led</h4>
              <p>Acquire Industrial bells LED to replace inefficient traditional bell metal additives. Its low power consumption and long lifetime (More than 50,000 effective hrs) makes it the best choice for electricity savings.</p>
              <p>Ideal for:</p>
              <ul class="list-style dots">
                <li>Industrial Buildings.</li>
                <li>Warehouses.</li>
                <li>Factories.</li>
                <li>Shops.</li>
                <li>Auto Dealers.</li>
                <li>Sports Clubs.</li>
              </ul>
            </div>
            <div class="col-md-8">
              <img src="../../img/campana-industrial-led-web.jpg" alt="">
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h6 class="text-center">SAVE UP TO 70% ELECTRICITY CONSUMPTION!</h6>
              <p class="text-center">Recoverable investment in less than 2 years!</p>
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h5>Applications</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/campana-led-bodega-1.jpg" alt="">
            </div>
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/campana-led-bodega-2.jpg" alt="">
            </div>
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/campana-led-bodega-3.jpg" alt="">
            </div>
            <div class="col-md-3 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/campana-led-bodega-4.jpg" alt="">
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h5>Technical Specifications</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <div class="table-responsive">
                <table border="0" cellspacing="0" cellpadding="0" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Model</th>
                      <th>ECL-52W</th>
                      <th>ECL-78W</th>
                      <th>ECL-104W</th>
                      <th>ECL-130W</th>
                      <th>ECL-156W</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <td>Power</td>
                      <td>52W</td>
                      <td>78W</td>
                      <td>104W</td>
                      <td>130W</td>
                      <td>156W</td>
                    </tr>
                    <tr>
                      <td>Operating Angle</td>
                      <td>75°</td>
                      <td>75°</td>
                      <td>75°</td>
                      <td>75°</td>
                      <td>75°</td>
                    </tr>
                    <tr>
                      <td>Voltage</td>
                      <td>AC 85-265V 12VDC</td>
                      <td>AC 85-265V 12VDC</td>
                      <td>AC 85-265V 12VDC</td>
                      <td>AC 85-265V 12VDC</td>
                      <td>AC 85-265V 12VDC</td>
                    </tr>
                    <tr>
                      <td>Dimensions</td>
                      <td>ø440*495mm(18″)</td>
                      <td>ø440*495mm(18″)</td>
                      <td>ø499*501mm(21″)</td>
                      <td>ø499*501mm(21″)</td>
                      <td>ø499*501mm(21″)</td>
                    </tr>
                    <tr>
                      <td>Light Flux (lumens)</td>
                      <td>6,000 Lm</td>
                      <td>11,000 Lm</td>
                      <td>13,000 Lm</td>
                      <td>15,600 Lm</td>
                      <td>19,000 Lm</td>
                    </tr>
                    <tr>
                      <td>Light Efficiency</td>
                      <td>120 Lm/W</td>
                      <td>120 Lm/W</td>
                      <td>120 Lm/W</td>
                      <td>120 Lm/W</td>
                      <td>120 Lm/W</td>
                    </tr>
                    <tr>
                      <td>Material</td>
                      <td>Aluminum IP65</td>
                      <td>Aluminum IP65</td>
                      <td>Aluminum IP65</td>
                      <td>Aluminum IP65</td>
                      <td>Aluminum IP65</td>
                    </tr>
                    <tr>
                      <td>Operating Temperature</td>
                      <td>-20° -60°C</td>
                      <td>-20° -60°C</td>
                      <td>-20° -60°C</td>
                      <td>-20° -60°C</td>
                      <td>-20° -60°C</td>
                    </tr>
                    <tr>
                      <td>Shelf Life</td>
                      <td>+50,000 hrs</td>
                      <td>+50,000 hrs</td>
                      <td>+50,000 hrs efectivas</td>
                      <td>+50,000 hrs efectivas</td>
                      <td>+50,000 hrs efectivas</td>
                    </tr>
                    <tr>
                      <td>Color Temperature</td>
                      <td>6500° K (White)</td>
                      <td>6500° K (White)</td>
                      <td>6500° K (White)</td>
                      <td>6500° K (White)</td>
                      <td>6500° K (White)</td>
                    </tr>
                    <tr>
                      <td>Ideal Height</td>
                      <td>3 – 4 Mts.</td>
                      <td>5 – 6 Mts.</td>
                      <td>7 – 8 Mts.</td>
                      <td>8 – 10 Mts.</td>
                      <td>10 – 14 Mts.</td>
                    </tr>
                    <tr>
                      <td>Replaces</td>
                      <td>200W Metallic additives</td>
                      <td>250-275W Metallic additives</td>
                      <td>300-350W Metallic additives</td>
                      <td>350-400W Metallic additives</td>
                      <td>400-500W Metallic additives</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="gaps"></div>
          <hr>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-4 res-m-bttm-sm">
              <h4>High Power Reflectors</h4>
              <p>New LED reflectors save up to 90% in electricity consumption compared to traditional metal halide.</p>
              <p>Huge savings in spare parts is also obtained as the lifetime of the LED exceeds 50.000 hours.</p>
              <p>Ideal for:</p>
              <ul class="list-style dots">
                <li>Streets and roads.</li>
                <li>Lands.</li>
                <li>Parking Lots.</li>
                <li>Warehouses.</li>
                <li>Factories.</li>
                <li>Spectaculars Ads.</li>
                <li>Sporting spots.</li>
              </ul>
            </div>
            <div class="col-md-8">
              <img src="../../img/reflector-led.jpg" alt="">
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h6 class="text-center">REPLACE THOSE INEFFICIENT METAL REFLECTORS THAT ONLY MAKE YOU LOSE MONEY.</h6>
              <p class="text-center">Investment recovering in less than 2 years!</p>
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h5>Applications</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/aplicacion-reflector-led-3.jpg" alt="">
            </div>
            <div class="col-md-4 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/aplicacion-reflector-led-2.jpg" alt="">
            </div>
            <div class="col-md-4 res-m-bttm-sm">
              <img class="img-responsive" src="../../img/aplicacion-reflector-led-1.jpg" alt="">
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h5>Technical Specifications</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <div class="table-responsive">
                <table border="0" cellspacing="0" cellpadding="0" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Model</th>
                      <th>LF-10W</th>
                      <th>LF-30W</th>
                      <th>LF-50W</th>
                      <th>LF-78W</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <td>Power</td>
                      <td>10W</td>
                      <td>30W</td>
                      <td>50W</td>
                      <td>78W</td>
                    </tr>
                    <tr>
                      <td>Replace Metalic Additives</td>
                      <td>120W</td>
                      <td>150-200W</td>
                      <td>250-300W</td>
                      <td>300-400W</td>
                    </tr>
                    <tr>
                      <td>Angle</td>
                      <td>80°</td>
                      <td>80°</td>
                      <td>80°</td>
                      <td>80°</td>
                    </tr>
                    <tr>
                      <td>Voltage</td>
                      <td>AC 85-265V</td>
                      <td>AC 85-265V</td>
                      <td>AC 85-265V</td>
                      <td>AC 85-265V</td>
                    </tr>
                    <tr>
                      <td>Dimensions</td>
                      <td>290x236x183mm</td>
                      <td>290x236x183mm</td>
                      <td>360x285x110mm</td>
                      <td>360x285x110mm</td>
                    </tr>
                    <tr>
                      <td>Temp. Color</td>
                      <td>Pure White/Warm White</td>
                      <td>Pure White/Warm White</td>
                      <td>Pure White/Warm White</td>
                      <td>Pure White/Warm White</td>
                    </tr>
                    <tr>
                      <td>Luminic Flux (lumens)</td>
                      <td>2,000 Lm</td>
                      <td>3,000-4,000 Lm</td>
                      <td>4,000-4,500 Lm</td>
                      <td>7,000 Lm</td>
                    </tr>
                    <tr>
                      <td>Ideal Height</td>
                      <td>3 – 4 Mts.</td>
                      <td>5 – 6 Mts.</td>
                      <td>6 – 8 Mts.</td>
                      <td>8 – 10 Mts.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="gaps"></div>
          <hr>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-4 res-m-bttm-sm">
              <h4>Street Lighting Luminaire</h4>
              <p>Compared to traditional metal halide, a great saving is also obtained in parts of focus and ballasts as the life of the LED exceeds 50,000 hrs. and does not use ballast.</p>
              <ul class="list-style dots">
                <li>Save 70-80% in consumption.</li>
                <li>Minimum maintenance.</li>
                <li>Resistant to any kind of weather.</li>
                <li>Constant lighting, no flickering.</li>
                <li>Immediate start.</li>
                <li>Generates no heat or contamination as other technologies.</li>
              </ul>
            </div>
            <div class="col-md-8">
              <img src="../../img/led-alumbrado-publico.jpg" alt="">
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h6 class="text-center">SAVE HUGE AMOUNTS MONEY!</h6>
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h5>Technical Specifications</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <div class="table-responsive">
                <table border="0" cellspacing="0" cellpadding="0" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Model</th>
                      <th>LED-SL-78W</th>
                      <th>LED-SL-104W</th>
                      <th>LED-SL-130W</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <td>LED Source</td>
                      <td>LED high power</td>
                      <td>LED high power</td>
                      <td>LED high power</td>
                    </tr>
                    <tr>
                      <td>Light Distribution</td>
                      <td>Symmetrical/Round Point</td>
                      <td>Symmetrical/Round Point</td>
                      <td>Symmetrical/Round Point</td>
                    </tr>
                    <tr>
                      <td>Voltage</td>
                      <td>AC-85-265V 50-60hz</td>
                      <td>AC-85-265V 50-60hz</td>
                      <td>AC-85-265V 50-60hz</td>
                    </tr>
                    <tr>
                      <td>Luminic Efficiency</td>
                      <td>100Lm/W</td>
                      <td>100Lm/W</td>
                      <td>100Lm/W</td>
                    </tr>
                    <tr>
                      <td>Angle</td>
                      <td>120°</td>
                      <td>120°</td>
                      <td>120°</td>
                    </tr>
                    <tr>
                      <td>Luminous Flux (lumens)</td>
                      <td>8,000 Lm</td>
                      <td>10,000 – 11,000 Lm</td>
                      <td>13,000 – 14,000 Lm</td>
                    </tr>
                    <tr>
                      <td>Temp. Color</td>
                      <td>Pure White/Warm White</td>
                      <td>Pure White/Warm White</td>
                      <td>Pure White/Warm White</td>
                    </tr>
                    <tr>
                      <td>Replaces Metallic Additives</td>
                      <td>200W</td>
                      <td>250-275W</td>
                      <td>400W</td>
                    </tr>
                    <tr>
                      <td>Shelf Life</td>
                      <td>+50,000 hrs efectivas</td>
                      <td>+50,000 hrs efectivas</td>
                      <td>+50,000 hrs efectivas</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="gaps"></div>
          <div class="row">
            <div class="col-md-12 res-m-bttm-sm">
              <h5>Quotes</h5>
              <p>To perform a specific quote for your needs support us with the following information:</p>
              <ul class="list-style dots">
                <li>Number of luminaires.</li>
                <li>Types of luminaires.</li>
              </ul>
              <p>Should you require staff and expert advice, our team of professional technicians conduct the survey at their facilities for free.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Content -->
    <include src='../../partials/footer-en.html'></include>
    <include src='../../partials/copyright-en.html'></include>
  </block>
</extends>
